@charset "utf-8";
/*
  Copyright 2013, 2014, Oracle and/or its affiliates. All rights reserved.
  Author: Robert Crews
  Version: 2014.2.12
*/

body {
  color: #222;
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust : none;
}

#header {
  color: #222;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
  border-color: #666;
  border-style: solid;
  border-width: 0 0 1px 0;
}

#header h1 {
  color: #222;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

#header h3 {
  color: #222;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
}

.bar {
  color: white;
  background-color: #736f6e;
  border-top: 1px solid #7e7e7e;
  border-bottom: 1px solid #ddd;
  height: 2ex;
  width: 100%;
  text-align: center;
  padding-top: 0.5ex;
  padding-bottom: 1ex;
  font-size: 3ex;
  margin-top: 1px;
  margin-bottom: 1px;
}

.barclicked {
  color: white;
  background-color: #25383C;
  border-top: 1px solid #7e7e7e;
  border-bottom: 1px solid #ddd;
  height: 2ex;
  width: 100%;
  text-align: center;
  padding-top: 0.5ex;
  padding-bottom: 1ex;
  font-size: 3ex;
  margin-top: 1px;
  margin-bottom: 1px;
}

p.bar:hover {
  color: white;
  background-color: #25383c;
  border-top: 1px solid #7e7e7e;
  border-bottom: 1px solid #ddd;
}

.subbar {
  color: white;
  background-color: #87afc7;
  border-top: 1px solid #7e7e7e;
  border-bottom: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  height: 2ex;
  text-align: left;
  padding-top: 0.5ex;
  padding-bottom: 1ex;
  padding-left: 0.5ex;
  font-size: 3ex;
  margin-top: 0.05em;
  margin-bottom: 0.01em;
}

.subbarclicked {
  color: white;
  background-color: #417088;
  border-top: 1px solid #7e7e7e;
  border-bottom: 1px solid #ddd;
  margin-left: auto;
  margin-right: auto;
  height: 2ex;
  text-align: left;
  padding-top: 0.5ex;
  padding-bottom: 1ex;
  padding-left: 0.5ex;
  font-size: 3ex;
  margin-top: 0.05em;
  margin-bottom: 0.01em;
}

p.subbar:hover {
  color: white;
  background-color: #417088;
  border-top: 1px solid #7e7e7e;
  border-bottom: 1px solid #ddd;
}

div.summary {
  color: #417088;
  background-color: #ddd;
  margin-bottom: 1.5em;
  padding-left: 0.5ex;
}

div.header {
  text-align: center;
}

div.heading {
  text-align: center;
  font-size: 14pt;
}

div.footer {
  width: 100%;
  text-align: center;
  margin-top: 2ex;
  margin-bottom: 4ex;
}

.visible {
  display: block;
}

.visiblew {
  opacity: 0;
}

.visibles {
  display: block;
  text-align: left;
}

.visiblesw {
  display: block;
  opacity: 0;
  text-align: left;
}

.invisible {
  display: none;
}

.invisiblew {
  opacity: 0;
}

.invisibles {
  display: none;
  text-align: left;
}

.invisiblesw {
  opacity: 0;
}

.small {
  color: #777;
  background: #ddd;
  padding-left: 2ex;
  font-size: smaller;
}

#search {
  text-align: center;
}

#searchform {
  display: inline;
}

.searchbutton {
  margin-left: 5px;
/*  margin: 3px 0 0 5px; */
}

td.libdoclisttitle {
  height: 3ex;
  padding-left: 0.5ex;
  padding-top: 0.5ex;
  padding-bottom: 1ex;
}

.tablehilite {
  color: #222;
  background-color: #f6f6ff;
}

#currentState {
  font-size: 9pt;
}

.logo {
  color: white;
  background-color: red;
  width: 100%;
  text-align: center;
  margin-top: 1px;
  margin-bottom: 1px;
}

#browserchoice {
  padding-right: 1.5ex;
}

.copyrightlogo {
  padding-left: 0.5ex;
  padding-right: 0.5ex;
}

.fullwidth {
  width: 100%;
}
