<html lang="en-us" ><head><title>样式文本示例</title>
</head><body >
<img src="images/dukeWaveRed.gif" width="64" height="64" alt="挥舞公爵图标">
<p>这是无法编辑的<code>JEditorPane</code> ，这是<font size="-2">来自</font>某个<font size="+2">URL的</font> <strong>HTML</strong>文本<em>初始化</em> 。</p>编辑器窗格使用专门的编辑器工具包来读取，写入，显示和编辑不同格式的文本。Swing文本包包括用于纯文本，HTML和RTF的编辑器工具包。您还可以为其他格式开发自定义编辑器套件。
<!-- Start SiteCatalyst code -->
<script type="application/javascript" src="https://www.oracleimg.com/us/assets/metrics/ora_docs.js"></script>
<!-- End SiteCatalyst code --> 


</body></html>