@font-face {
	font-family: 'App_iconfont';
	src:url('../css/fonts/fonts/App_iconfont.eot?-ylh2uf');
	src:url('../css/fonts/fonts/App_iconfont.eot?#iefix-ylh2uf') format('embedded-opentype'),
url('../css/fonts/fonts/App_iconfont.woff?-ylh2uf') format('woff'),
url('../css/fonts/fonts/App_iconfont.ttf?-ylh2uf') format('truetype'),
url('../css/fonts/fonts/App_iconfont.svg?-ylh2uf#App_iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="App-"], [class*=" App-"] {
	font-family: 'App_iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App-home_24:before {
	content: "\e600";
}
.App-education_24:before {
	content: "\e601";
}
.App-catalog_24:before {
	content: "\e602";
}
.App-palette_24:before {
	content: "\e603";
}
.App-library_24:before {
	content: "\e604";
}
.App-chat_24:before {
	content: "\e605";
}
.App-bookmark_16:before {
	content: "\e606";
}
.App-grid_16:before {
	content: "\e607";
}
.App-list_16:before {
	content: "\e608";
}
.App-gear_16:before {
	content: "\e609";
}
