@font-face {
	font-family: 'JetFW_iconfont';
	src:url('../css/fonts/fonts/JetFW_iconfont.eot?eja9sp');
	src:url('../css/fonts/fonts/JetFW_iconfont.eot?#iefixeja9sp') format('embedded-opentype'),
url('../css/fonts/fonts/JetFW_iconfont.woff?eja9sp') format('woff'),
url('../css/fonts/fonts/JetFW_iconfont.ttf?eja9sp') format('truetype'),
url('../css/fonts/fonts/JetFW_iconfont.svg?eja9sp#JetFW_iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="JetFW-"], [class*=" JetFW-"] {
	font-family: 'JetFW_iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.JetFW-arrow-e_16:before {
	content: "\e600";
}
.JetFW-arrow-se_16:before {
	content: "\e601";
}
.JetFW-arrow02-s_16:before {
	content: "\e602";
}
.JetFW-arrow03-e_16:before {
	content: "\e603";
}
.JetFW-arrow03-se_16:before {
	content: "\e604";
}
.JetFW-caret-e_16:before {
	content: "\e605";
}
.JetFW-caret02-e_16:before {
	content: "\e606";
}
.JetFW-caret02end-e_16:before {
	content: "\e607";
}
.JetFW-cross_16:before {
	content: "\e608";
}
.JetFW-calendar_16:before {
	content: "\e609";
}
.JetFW-clock_16:before {
	content: "\e60a";
}
.JetFW-help_16:before {
	content: "\e60b";
}
.JetFW-cross02_16:before {
	content: "\e60c";
}
.JetFW-magnifier_16:before {
	content: "\e60d";
}
.JetFW-cross03_16:before {
	content: "\e60e";
}

/* Rotation =========== */
/* arrow */
.JetFW-arrow-w_16:before {
	content: "\e600";
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.JetFW-arrow-n_16:before {
	content: "\e600";
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.JetFW-arrow-s_16:before {
	content: "\e600";
	-webkit-transform: scale(-1, 1) rotate(90deg);
	-moz-transform: scale(-1, 1) rotate(90deg);
	-o-transform: scale(-1, 1) rotate(90deg);
	-ms-transform: scale(-1, 1) rotate(90deg);
	transform: scale(-1, 1) rotate(90deg);
}
.JetFW-arrow-nw_16:before {
	content: "\e601";
	-moz-transform: scale(-1, -1);
	-webkit-transform: scale(-1, -1);
	-o-transform: scale(-1, -1);
	-ms-transform: scale(-1, -1);
	transform: scale(-1, -1);
}
.JetFW-arrow-ne_16:before {
	content: "\e601";
	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}
.JetFW-arrow-sw_16:before {
	content: "\e601";
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

/* arrow02 */
.JetFW-arrow02-n_16:before {
	content: "\e602";
	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}
.JetFW-arrow02-e_16:before {
	content: "\e602";
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.JetFW-arrow02-w_16:before {
	content: "\e602";
	-webkit-transform: scale(-1, 1) rotate(-90deg);
	-moz-transform: scale(-1, 1) rotate(-90deg);
	-o-transform: scale(-1, 1) rotate(-90deg);
	-ms-transform: scale(-1, 1) rotate(-90deg);
	transform: scale(-1, 1) rotate(-90deg);
}

/* arrow03 */
.JetFW-arrow03-w_16:before {
	content: "\e603";
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.JetFW-arrow03-n_16:before {
	content: "\e603";
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.JetFW-arrow03-s_16:before {
	content: "\e603";
	-webkit-transform: scale(-1, 1) rotate(90deg);
	-moz-transform: scale(-1, 1) rotate(90deg);
	-o-transform: scale(-1, 1) rotate(90deg);
	-ms-transform: scale(-1, 1) rotate(90deg);
	transform: scale(-1, 1) rotate(90deg);
}
.JetFW-arrow03-nw_16:before {
	content: "\e604";
	-moz-transform: scale(-1, -1);
	-webkit-transform: scale(-1, -1);
	-o-transform: scale(-1, -1);
	-ms-transform: scale(-1, -1);
	transform: scale(-1, -1);
}
.JetFW-arrow03-ne_16:before {
	content: "\e604";
	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);
}
.JetFW-arrow03-sw_16:before {
	content: "\e604";
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

/* caret */
.JetFW-caret-s_16:before {
	content: "\e605";
	-webkit-transform: scale(-1, 1) rotate(90deg);
	-moz-transform: scale(-1, 1) rotate(90deg);
	-o-transform: scale(-1, 1) rotate(90deg);
	-ms-transform: rscale(-1, 1) rotate(90deg);
	transform: scale(-1, 1) rotate(90deg);
}
.JetFW-caret-w_16:before {
	content: "\e605";
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.JetFW-caret-n_16:before {
	content: "\e605";
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
/* caret02 */
.JetFW-caret02-s_16:before {
	content: "\e606";
	-webkit-transform: scale(-1, 1) rotate(90deg);
	-moz-transform: scale(-1, 1) rotate(90deg);
	-o-transform: scale(-1, 1) rotate(90deg);
	-ms-transform: rscale(-1, 1) rotate(90deg);
	transform: scale(-1, 1) rotate(90deg);

}
.JetFW-caret02-w_16:before {
	content: "\e606";
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.JetFW-caret02-n_16:before {
	content: "\e606";
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
/* caret02 */
.JetFW-caret02end-s_16:before {
	content: "\e607";
	-webkit-transform: scale(-1, 1) rotate(90deg);
	-moz-transform: scale(-1, 1) rotate(90deg);
	-o-transform: scale(-1, 1) rotate(90deg);
	-ms-transform: rscale(-1, 1) rotate(90deg);
	transform: scale(-1, 1) rotate(90deg);
}
.JetFW-caret02end-w_16:before {
	content: "\e607";
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.JetFW-caret02end-n_16:before {
	content: "\e607";
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
}