body { font-family: Verdana, arial, sans-serif; font-size: 11px; line-height: 16px; color: #000000; font-weight: normal; margin-top: 0; margin-right: 0; margin-left: 0; padding-top: 0; padding-right: 0; padding-left: 0; }

.topBarDiv a:link { color: #ffffff; font-size: 11px; font-style: normal; }
.topBarDiv a:visited {color: #ffffff;}
.topBarDiv a:active {color: #ffffff;}
.topBarDiv a:hover {color: #ffffff;}
.topBarDiv { color: #fff; font-style: normal; }

.topBar { font-size: 11px; background-color: #003366; height: 20px; }

.search-result-line3 {
	font-size: .9em;
}
