/* ###########################################################################

GLOBAL ASSETS RELEASE v6.0.2

BUILD DATE: 20100224

########################################################################### */

@import url("common.css");
@import url("k5.css");
@import url("oo_style.css");

/* text styles */
span.rightarrowblue,
span.rightarrowdkblue{color:#000}
span.rightarrowgrey{color:#333}
span.rightarrowyellow{color:#eee} /*trash?*/
a.redlink,a.redlink:visited,.red,.sunblue .red,.sunyellow .red,b.error,span.error{color:#c00}
a.greylink,a.greylink:visited{color:#333}
a.ltgreylink,a.ltgreylink:visited{color:#9a9a9a}
div.resultstitle b,.note{color:#000}
.newscap{text-transform:uppercase;color:#000}
.grey1copy{color:#999}
.grey2copy{color:#696969}
.grey3copy{color:#9a9a9a}
.sunbluecopy{color:#444}
.ltgreycopy{color:#888}
.medgreycopy{color:#666}
.dkgreycopy{color:#4d4d4d}
.vdkgreycopy{color:#333}

/* pad & spacer */
.pad0x10,.sitelinks,.pagetitle2{padding:0px 10px}
.padbottom6{padding:0px 0px 6px 0px}
.padtop6{padding:6px 0px 0px 0px}
.pad6{padding:6px}
.pad8{padding:8px}
.pad10{padding:10px}
.pad2x5{padding:2px 5px}
.pad10x0{padding:10px 0px}
.pad0x3{padding:0px 3px}
.pad10x10x10x0{padding:10px 10px 10px 0px}
.pad0x0x0x20{padding:0px 0px 0px 20px}
.pad0x0x0x10{padding:0px 0px 0px 10px}
.pad8x20{padding:8px 20px}
.pad1x10{padding:1px 10px}
.cellpadtop{padding:6px 6px 0px 6px}
.cellpadbottom{padding:0px 6px 6px 6px}
.headerpadding2{padding:1px 10px 1px 5px}
.sp10{line-height:8px;font-size:8px}
.sp8{line-height:7px;font-size:7px}
.sp5{line-height:5px;font-size:5px}
.sp2{line-height:2px;font-size:2px}

/* table colors */
.sunred{background:#f00}
.sunblue{background:#6b6b6b}
.sunyellow{background:#eee}
.sunblue,td.sunblue a{color:#fff}
td.sunred b,td.sunred div.navtitle{color:#fff;font-weight:bold}
td.sunred ul,td.sunred ul li{margin-left:7px;padding-left:0px}
td.sunblue li,td.sunblue ul{color:#fff;list-style-image:url("../im/ic_bullet_white.gif")}
td.sunred .rightarrowwhite,td.sunred a:link,td.sunred a:visited,td.sunyellow b,td.sunyellow div.navtitle,td.sunyellow a:link,td.sunyellow a:visited{color:#8a8a8a}
table.dkgrey{background:#666}
table.BLACK,table.black{background:#000}
table.blue3{background:#898989}
td.black,th.black,tr.black td,tr.black th,table tr td.black,table tr th.black{background:#000;color:#fff}
td.dkgrey,th.dkgrey,tr.dkgrey td,tr.dkgrey th,table tr td.dkgrey,table tr th.dkgrey{background:#666;color:#fff}
td.blue3,th.blue3,tr.blue3 td,tr.blue3 th,table tr td.blue3,table tr th.blue3{background:#898989;color:#fff}
table.ltgrey,td.ltgrey,th.ltgrey,tr.ltgrey td,tr.ltgrey th,table tr td.ltgrey,table tr th.ltgrey{background:#e5e5e5}
table.vltgrey,td.vltgrey,th.vltgrey,tr.vltgrey td,tr.vltgrey th,table tr td.vltgrey,table tr th.vltgrey{background:#ddd}
table.white,td.white,th.white,tr.white td,tr.white th,table tr td.white,table tr th.white,td.white,
table.white1,td.white1,th.white1,tr.white1 td,tr.white1 th,table tr td.white1,table tr th.white1{background:#fff}
table.grey3,td.grey3,th.grey3,tr.grey3 td,tr.grey3 th,table tr td.grey3,table tr th.grey3{background:#e3e3e3}
table.grey4,td.grey4,th.grey4,tr.grey4 td,tr.grey4 th,table tr td.grey4,table tr th.grey4{background:#f0f0f0}
table.grey5,td.grey5,th.grey5,tr.grey5 td,tr.grey5 th,table tr td.grey5,table tr th.grey5{background:#999}
table.grey6,td.grey6,th.grey6,tr.grey6 td,tr.grey6 th,table tr td.grey6,table tr th.grey6{background:#ececec}
table.grey7,td.grey7,th.grey7,tr.grey7 td,tr.grey7 th,table tr td.grey7,table tr th.grey7{background:#e5e5e5}
table.grey8,td.grey8,th.grey8,tr.grey8 td,tr.grey8 th,table tr td.grey8,table tr th.grey8{background:#c8c8c8}
table.blue1,td.blue1,th.blue1,tr.blue1 td,tr.blue1 th,table tr td.blue1,table tr th.blue1{background:#a1a1a1}
table.blue2,td.blue2,th.blue2,tr.blue2 td,tr.blue2 th,table tr td.blue2,table tr th.blue2{background:#ececec}
table.yellow2,td.yellow2,th.yellow2,tr.yellow2 td,tr.yellow2 th,table tr td.yellow2,table tr th.yellow2{background:#f9f9f9}
table.medgrey,td.medgrey,th.medgrey,tr.medgrey td,tr.medgrey th,table tr td.medgrey,table tr th.medgrey{background:#777;color:#fff}
table.featshade1,td.featshade1,th.featshade1,tr.featshade1 td,tr.featshade1 th,table tr td.featshade1,table tr th.featshade1{background:#ececec}
table.featshade2,td.featshade2,th.featshade2,tr.featshade2 td,tr.featshade2 th,table tr td.featshade2,table tr th.featshade2{background:#f0f0f0}
table.rose,td.rose,th.rose,tr.rose td,tr.rose th,table tr td.rose,table tr th.rose{background:#ddd}
table.dkrose,td.dkrose,th.dkrose,tr.dkrose td,tr.dkrose th,table tr td.dkrose,table tr th.dkrose{background:#aaa}
.featshade2 div.pad10,.featshade1 div.pad10{padding-left:15px}
table.blue1 tr td{padding:0px}
table.blue1 table.white1{border:#999 solid 1px}
td.sunblue{background:url("../im/bg_sunblue.gif") repeat-x left top #7a7a7a;border-top:#fff solid 6px}
td.sunred{background:url("../im/bg_sunorange.gif") repeat-x left bottom #f00}
td.sunyellow{background:#eee}


/* a0 */
body.a0v0,div.a0v0,div.a0v4{margin:0px auto;width:800px;padding:0px}
body.a0v1,div#a0v1{width:100%;max-width:1770px}
body.a0v1,div#a0v1{_width:98%}/* iepc56 */

/* a1 */
.a1{margin:0px 22px 3px 23px;float:none;position:relative;z-index:50}
* html .a1{margin:0 22px}
.a1 div.a1v0,.a1 div.a1v1,.a1 div.a1v2,.a1 div.a1v3,.a1 div.a1v4,.a1 div.a1v5{width:100%;min-width:755px}
.a1 .skiplink {position:absolute;left:-2000px}
.a1 .skiplink:focus {left:0;padding:5px;border:1px #35556B solid;margin:10px;background:#FFD868;text-decoration:underline}
.toolbarlinks {float:right;clear:both;display:block;margin-top:0px;height:20px;position:absolute;top:50px;width:100%;text-align:right}
.toolbarlinks *{text-align:left}
.siteid {float:right;display:block;padding:1px 0 0 0;clear:both;top:0px;height:20px;position:absolute;top:28px;width:50%;text-align:right;right:0}
div.a1 .a1menu {padding:0;margin:9px 0 0 -107px;float:none;visibility:hidden;position:absolute;z-index:42;left:0;top:-20000px}
div.a1 .a1menux1 {height:4px;overflow:hidden;background:url("../im/a1a2_sprite.png") -350px -65px transparent repeat-x;margin:1px 3px 0 -3px;padding:0}
div.a1 .a1menuw1 {background:url("../im/a1a2_sprite.png") repeat-x -270px -70px #fafbfc;padding:10px;border:#808080 solid 1px;border-top:0;margin:0px 0px 0px -3px}
div.a1 .a1menuw1 a{font-size:12px;border:0;padding:0}
div.a1menuw2{background:url("../im/a1a2_sprite.png") 100% 100% no-repeat;padding:0 3px 3px 0;margin:0}
div.a1Large{width:472px}
div.a1Large .a1menuw1{width:450px}
div.a1Medium{width:302px}
div.a1Medium .a1menuw1{width:280px}
div.a1Small{width:202px}
div.a1Small .a1menuw1{width:180px}
.a1r1 .selectorlinks{float:right;padding-right:10px}
.toolbarlinks a.k2over{border-right:0}
.toolbarlinks a.lastlink,.selectorlinks span.lastlink{border-right:0;padding:0 3px 0 2px;font-size:11px}
.siteid,.siteid span,.siteid a,.selectorlinks span a,.selectorlinks span.lastlink a{font-size:11px}
.siteid span{padding:0 2px 0 3px}
.siteid a,.siteid span.nolink{border-left:1px solid #bbb;padding:0 2px 0 6px}
.siteid a.firstlink,.siteid span.firstlink{border-left:0;padding-left:0}
.browserExplorer7 div.a1 .a1menu{background:url("../im/a.gif") repeat 0 0}
.a1menu p {margin:0;font-size:11px}
.toolbarlinks a,.selectorlinks span{margin-right:10px;padding:0 5px 0 2px;font-size:11px;border-right:0px solid #bbb}
span.toolbarlinks a.karrow {background:transparent}
span.toolbarlinks a.k2over,.siteid a.language-select{padding-right:12px;background:url("../im/a1a2_sprite.png") 100% -392px no-repeat;margin:0 0 0 10px;border:0}
div.a1 span.toolbarlinks a.dividelink{border-right:0}
div.a1 h5{margin-bottom:6px}
a.language-select,a:link.language-select,a:visited.language-select,a:hover.language-select,a:active.language-select{text-decoration:none;cursor:default;color:#000}
#languageselector *{text-align:left !important}
.a1-2colwrap{float:left}
.a1-2colul ul{width:47%;margin-right:10px;float:left}
.a1 ul.bluearrows li{background:url("../im/a1a2_sprite.png") no-repeat -117px -220px}
* html div.a1 div.a1menux1{margin:6px 0 0 0}
* html div.a1 .a1menuw1 {margin:0}
* html div.a1menuw2{padding:0;margin:0}
* html div.a1Large .a1menuw1{width:394px}
* html div.a1 .a1menu {margin-top:2px}
* html .a1-2colwrap{background:url("../im/a.gif")}

/* a1 - OLD */
.a1 table{width:100%;margin-top:25px;position:relative}

/* a2 */
.a2w0{float:left;position:relative;_height:19px;width:100%;z-index:30;margin-top:67px}
.a2w0 + table,.a2w0 + br,.a2w0 + div,.a2w0 + form > table{clear:both}
.a2w0 .a2{padding:4px 0 3px 0px;float:none;min-width:780px;clear:both;width:100%;background:transparent !Important;min-height:38px;margin-top:0}
.a2w1{background:url("../im/a1a2_sprite.png") no-repeat -47px -453px;margin:0 10px}
.a2w2{background:url("../im/a1a2_sprite.png") no-repeat 100% -453px;height:38px;_overflow:hidden}
.a2w3{background:url("../im/a1a2_sprite.png") repeat-x 0 0;margin:0 10px 0 10px;height:38px}
.a2w4{min-height:38px;background-position:143px 12px;background-repeat:no-repeat}
.a2w3{position:relative}
.a2w4{height:85px;position:absolute;top:-56px;width:100%}
.a2 li a:link,.a2 li a:hover,.a2 li a:active,.a2 li a:visited {color:#fff;font-weight:bold;text-decoration:none;display:block;float:left}
.a2 li a:hover,.a2 li a:focus{text-decoration:underline}
.a2search{float:right;background-color:transparent;text-align:right;margin:-8px 0 0 0;padding:16px 0px 0 0;position:relative;z-index:2;white-space:nowrap}
.a2search a{color:#fff}
.a2search select{float:right;margin-left:8px;width:100px}
.a2searchmenu {float:right;width:195px;left:-20px}
.a2searchmenu select{float:left;margin:0}
.a2searchmenu input{float:right}
#venuespacer {display:block;left:-94px;position:relative}
#sunlogo,.sunlogo{float:left;padding:1px;display:block;height:70px;width:134px;position:absolute;left:-12px;top:-85px;z-index:9;background:url("../im/a1a2_sprite.png") no-repeat 0 -365px;_background-image:url("../im/a1a2_sprite.gif")}
#sunlogo span{display:none}
#searchfield,.searchfield{width:89px !important;height:16px;margin:0 -20px 0 0;padding:3px 17px 1px 5px;background:url("../im/a1a2_sprite.png")  no-repeat -202px -1170px;border:0;color:#555;position:relative;z-index:39}
#searchfield:focus,.searchfield:focus,.sfieldfocused{background-position:-202px -1131px !important;color:#000}
#searchbttn{padding:1px;vertical-align:middle;margin-right:1px;width:15px;z-index:40;position:relative}
.a2topiclinks{position:relative;*z-index:29;top:56px}
.a2topiclinks ul{margin:0;padding-left:7px;float:left}
.a2topiclinks li{display:block;float:left;margin:0 0 0 5px;padding:0}
#mtopics{position:absolute;z-index:31;left:-12px;top:0;_left:-6px}
#mtopics li{position:relative;z-index:35}
#mtopics li a{height:23px;padding:12px 7px 8px 6px;margin:0;display:block}
#a2v3 .a2search {float:right;width:215px}
#a2v3 .a2search input{float:left}
#a2v1 #mtopics,#a2v3 #mtopics{left:-9px}
#a2v1 #mtopics li a,#a2v3 #mtopics li a{padding:12px 4px 8px 4px}
#a2v1 #searchfield,#a2v1 .searchfield,#a2v3 #searchfield,#a2v3 .searchfield{width:69px !important;margin-left:20px;background-position:-345px -1170px}
#a2v1 #searchfield:focus,#a2v1 .searchfield:focus,#a2v3 #searchfield:focus,#a2v3 .searchfield:focus{width:69px !important;margin-left:20px;background-position:-345px -1131px !important}
div.a2m{position:absolute !important;margin:0;padding:0 15px 12px 20px !important;display:none;background:url("../im/a1a2_sprite.png")  no-repeat 20px 100%;width:179px;margin-top:36px;left:0;z-index:32} /* left margin in js */
div.a2 div.a2m{margin-top:35px}
div.a2m ul{display:block;margin:0;padding:3px 3px 0 0;background:url("../im/a1a2_sprite.png") 100% -902px no-repeat}
div.a2m ul li{display:block;margin:0 !important;padding:0;height:auto !important}
#mtopics li ul li a,div.a2m ul li a{margin:0 0 1px 0;padding:3px 8px !important;height:auto !important;font-weight:normal !important;width:168px;text-transform:none !important;font-size:12px;color:#fff}
#mtopics li ul li:hover{background:transparent}
#mtopics li ul li.newgroup{border-top:#999 1px solid;margin-top:6px !important;padding-top:6px}
div.a2m ul li a:hover,div.a2m ul li a:focus{background:url("../im/a1a2_sprite.png") -203px -981px no-repeat #fe0000 !important;border-bottom:1px #454545 solid !important;margin-bottom:0px !important}
* html div.a2m ul li a:hover{background-image:url("../im/a1a2_sprite.gif") !important}
#mtopics li.a2mshow,#mtopics li:hover{background:url("../im/a1a2_sprite.png") -203px -921px no-repeat}
.a2mshow div.a2m, #mtopics li:hover div.a2m{display:block}
.a2nomenu{background:transparent !important}
#searchsubmit{border:0;background:transparent;width:15px;position:relative;z-index:6;left:1px}
#searchsubmit{cursor:pointer}

/* a2 - LEGACY */
.a2 {margin-top:-50px}
.a2 .cornerTL{margin:100px 10px 0 10px;background:url("../im/a1a2_sprite.png") no-repeat -47px -453px}
.a2 .cornerTR{background:url("../im/a1a2_sprite.png") no-repeat 100% -453px}
.a2 .cornerBL{padding:0 10px}
.a2 .cornerBR{background:url("../im/a1a2_sprite.png") repeat-x 0 0;height:38px}
.a2 .cornerBR img.sunlogo{margin:-50px 0 0 10px;height:60px}
.a2 table{position:absolute;margin-top:-56px;height:35px}
.a2 td.navlinks{position:relative;padding:0;margin:0}
.a2 td.navlinks a{display:block;padding:10px 6px 0 6px;height:24px;color:#fff;font-weight:bold;text-transform:uppercase;font-size:11px;text-decoration:none}
.a2 td.navlinks div{position:relative}
td.a2mshow div.a2m,td.navlinks:hover div.a2m{display:block;margin-top:0px}
td.a2mshow,td.navlinks:hover{background:url("../im/a1a2_sprite.png") -203px -921px no-repeat}

/* ###########################################################################

GLOBAL ASSETS RELEASE v6.0.2

BUILD DATE: 20100224

########################################################################### */

/* a2v8 */
div#a2v8{margin:10px 0px 10px;background:transparent url('../im/a1a2_sprite_a2v8.png') no-repeat 0px -200px;padding:86px 10px 0;position:relative}
div.a2v8w1{background:transparent url('../im/a1a2_sprite_a2v8.png') repeat-x 0px -150px;margin:0 10px}
div.a2v8w2{background:transparent url('../im/a1a2_sprite_a2v8.png') no-repeat 0px -100px;margin:0 -10px}
div.a2v8w3{background:transparent url('../im/a1a2_sprite_a2v8.png') no-repeat 100% -50px;height:18px;position:relative;padding:10px 17px}
div#a2v8 ul.a2v8links,
div#a2v8 ul.a2v8links li{padding:0;margin:0;list-style:none}
div#a2v8 ul.a2v8links li{position:absolute;top:-48px;left:139px}
div#a2v8 ul.a2v8links li a{font-size:19px;color:#aaa;font-weight:bold}
div#a2v8 ul.a2v8links li.a2v8sunlogo{left:-10px;top:-48px}
div#a2v8 ul.a2v8links li.a2v8sunlogo a{display:block;width:134px;height:68px;text-indent:-10000px;text-align:left}
div#a2v8 form{padding:0;margin:0;position:absolute;right:11px;top:8px}

div#a2v8 .listTitle,
div#a2v8 ul.goto,
div#a2v8 ul.goto li{margin:0;padding:0;list-style:none;display:inline-block;color:#fff;text-shadow:rgba(0,0,0,0.4) 0px -1px 0px,rgba(255,255,255,0.3) 0px 1px 0px;font-size:13px}
div#a2v8 ul.goto li:before{content:" | ";color:#ccc;margin:0px 4px}
div#a2v8 ul.goto li:first-child{margin-left:10px}
div#a2v8 ul.goto li:first-child:before{content:none}
div#a2v8 ul.goto li a{color:#fff}
div#a2v8 .listTitle:after{content:":";color:#ccc}

.regenabled div#a2v8 .listTitle{display:none}


/* a4 */
div#breadcrumb,div.breadcrumb{clear:both;padding:5px 25px;color:#999}

/* a5 */
.a5{margin:5px 16px 10px 8px;font-size:11px}
#a5{z-index:45;position:relative}
#a5 ul{margin:6px 0 0 4px;padding:0;width:100%}
#a5 ul li{float:left;padding:2px 15px 0 6px;margin:0;list-style:none;list-style-image:url("../im/a.gif");position:relative}
#a5 ul li a,#a5 ul li span#pwdby{font-size:11px;float:left;display:block;padding:0}
#a5 ul li a span{font-size:11px}
#a5 ul li.copyright{float:right}
#a5 ul li a#pwdby,#a5 ul li span#pwdby{padding-right:57px;float:left;display:block;width:67px;height:27px;background:url("../im/a1a2_sprite.png") 100% -358px no-repeat;color:#fff}
#a5 ul li a#pwdby span,#a5 ul li span#pwdby span{display:none}
#a5 ul li div.a5menu ul li a{display:inline;float:none;font-size:12px}
#a5 ul li div.a5menu ul li{display:block;float:none;clear:both;padding:0 0 4px 15px}
#a5 ul li.hasmenu{background:url("../im/a1a2_sprite.png") 100% -579px no-repeat;padding-right:12px;margin-right:10px}
#a5 div.a5menu{left:-2500px;position:absolute;top:-150px;width:195px;z-index:50;display:none}
#a5 ul li.a5show div.a5menu{left:0px;display:block}
#a5 ul ul{margin:0}
#a5:after,#a5 .a5menuw1:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
#a5 .a5menuw1{background:url("../im/a1a2_sprite.png") repeat-x -129px -145px #fbfbfb;padding:10px;border:#888 solid 1px;margin:0}
#a5 .a5menuw2{background:url("../im/a1a2_sprite.png") no-repeat 100% 100%;padding:0 3px 3px 0;margin:0}
#a5 .a5menux2{height:8px;margin-top:-5px;background:url("../im/a1a2_sprite.png") no-repeat -200px -875px transparent}
#a5 .a5menuw1{_height:1px}
#a5 ul li ul li{min-height:1px}
#a5 .a5menu{_margin-top:6px}

/* a5 */
div.a0v2 .a5 {margin:0 !important}
div.a0v2 .a5v1 {margin:0 !important;float:left;clear:both;width:100%}
.a5v1 a,.a5v1 span{font-size:11px}
.a5v1 .a5w1{background:url("../im/generic_bl.png") no-repeat bottom left #E1E3E4;margin:0}
.a5v1 .a5w2{background:url("../im/generic_br.png") no-repeat bottom right;padding:6px 8px 16px 8px;min-height:25px}
* html .a5v1 .a5w2 {height:25px}
* html .a5v1 .a5w1{background-image:url("../im/generic_bl.gif")}
* html .a5v1 .a5w2{background-image:url("../im/generic_br.gif")}
.footerlinks a{border-right:1px solid #bbb;padding-right:5px;padding-left:2px}
ul.footerlinks li {display:inline;margin:0}
ul.footerlinks {display:inline;margin-left:4px}
span.footercopy{white-space:nowrap;padding-left:2px}
span.poweredbysun,.footerextra{float:right}
.a5v1 .footerlinks a.lastlink {border-right:0}
.a5v1 .footercopy {display:block;padding-top:3px}
.a5v1 #poweredby {width:80px;text-align:right;float:right;background:url("../im/sunhome_sprite.gif") no-repeat 90% -140px;height:40px;padding:0 68px 0 0;color:#343434;margin:0}
.a5v1 #poweredby b{display:none}
.copyright{float:left;color:#777}
.a5w3 {padding:8px 0 0 16px}
.footerextra{padding:0 5px 0 0}
.a5r1 .footerextra div.hdtxt{font-size:15px}
.a5r1 .footerextra a div.sbtxt{padding-left:19px;font-size:11px}
.a5r1 .footerextra a:hover div b,.footerextra a:hover div.sbtxt{text-decoration:underline}
.a5r1 .footerextra img{width:16px;height:15px;background:url("../im/sunhome_sprite.gif") no-repeat top right;vertical-align:top;margin-right:3px}

/*IE 6 */
* html #a5 ul li.hasmenu,* html #a5 .a5menuw1,* html #a5 .a5menuw2,* html #a5 .a5menux2, * html div.a1 .a1menux1,* html div.a1 .a1menuw1,* html div.a1menuw2,* html span.toolbarlinks a.k2over,* html .siteid a.language-select,* html .a1 ul.bluearrows li,* html .a2w1,* html .a2w2,* html .a2w3,* html #searchfield,* html .searchfield,* html div.a2m,* html div.a2m ul,* html #mtopics li.a2mshow,* html #mtopics li:hover,* html .a2 .cornerTL,* html .a2 .cornerTR,* html .a2 .cornerBL,* html td.a2mshow,* html td.navlinks:hover{background-image:url("../im/a1a2_sprite.gif")}
* html .a2 *{zoom:1}

/* link underlines */
#breadcrumb a,.breadcrumb a,.a1 a,.a2v8links a,.a5 a{text-decoration:none}

/* navblue fade */
tr.navblue{background:#ddd}
table.navblue .navtitle,table.navblue .rightarrowblue,table.navblue table:first-child{padding-left:8px}
table.navblue .navtitle{color:#666;padding-top:3px}
table.navblue img{padding-left:4px}
table.navblue span.sp10{line-height:2px;font-size:2px !important}
table.navblue table:first-child .rightarrowblue,table.navblue table:first-child img,table.navblue table:first-child .navtitle{padding-left:0px}
table.navblue table:first-child{padding-top:5px}
table.navblue table{margin-left:0px;margin-bottom:10px;padding:0px}
table.navblue td.white1{background:transparent}
table.navblue tr td table tr td{background:transparent;padding:2px 2px 2px 4px}
table.navblue tr td table tr td:first-child{padding:0px}
table.navblue tr td table:first-child{background:url("../im/generic_tr.gif") no-repeat top right;border-top:none}
table.navblue tr td{background:url("../im/generic_tl.gif") no-repeat top left;padding:0px}
table.navblue{background:url("../im/bg_navgrey.gif") repeat-x left bottom #e4e4e4}
* html table.navblue tr td table{background:url("../im/generic_tr.gif") no-repeat top right;border-top:#fff solid 2px}

/* pre magellan */
.blknote,.rednote,.updated{text-transform:uppercase;font-weight:bold}
.fea-main1{margin:5px 8px 9px 8px}
.main1{margin:5px}
.main3{margin:0px 9px}
.main4{margin:9px 9px 0px 9px}
.main5{margin:9px 0px 0px 0px}
.redbld,.rednote,.updated{color:#f00}
.redcopy{color:#c33}
.solo-pad{padding:9px 5px 1px 9px}
.whtbld,.blkbld,.redbld{font-weight:bold}
a.nonu,a.nonu:visited,a.nonuc,a.nonuc:visited,a.unbl,a.unbl:visited,a.blklink,a.blklink:visited,.blkbld,.blknote{color:#000}
a.nonu,a.nonuc,a.nonuw{text-decoration:none}
a.nonuw,a.nonuw:visited,a.undw,a.undw:visited,a.unwt,a.unwt:visited,.whitehdr,.whtbld{color:#fff}
div.group-pad P,div.group-pad div,.main2,.fea-main2{margin:0px;padding:3px 0px}
div.group-pad{margin:0px;padding:9px}
p.credit{padding:0px 30px}
p.quote{color:#900}
table.dkred{background:#f00}
table.dktan,td.dktan,th.dktan,tr.dktan td,tr.dktan th,table tr td.dktan,table tr th.dktan{background:#c96}
table.green,td.green,th.green,tr.green td,tr.green th,table tr td.green,table tr th.green{background:#b2bc00}
table.ltblue,td.ltblue,th.ltblue,tr.ltblue td,tr.ltblue th,table tr td.ltblue,table tr th.ltblue{background:#e1e1e1}
table.ltred,td.ltred,th.ltred,tr.ltred td,tr.ltred th,table tr td.ltred,table tr th.ltred{background:#f8d4b3}
table.lttan,td.lttan,th.lttan,tr.lttan td,tr.lttan th,table tr td.lttan,table tr th.lttan{background:#f0f0f0}
table.orange,td.orange,th.orange,tr.orange td,tr.orange th,table tr td.orange,table tr th.orange{background:#f00}
table.present,td.present,th.present,tr.present td,tr.present th,table tr td.present,table tr th.present{background:#c06600;color:#fff}
table.present{background:#c60}
table.promo,td.promo,th.promo,tr.promo td,tr.promo th,table tr td.promo,table tr th.promo{background:#ffc726}
table.yell,td.yell,th.yell,tr.yell td,tr.yell th,table tr td.yell,table tr th.yell{background:#fff4d4}
td.dkred,th.dkred,tr.dkred td,tr.dkred th,table tr td.dkred,table tr th.dkred{background:#f00;color:#fff}
tr.title-bg td,td.title-bg{background:#fff}
table[bgcolor="#ccccff"],
td[bgcolor="#ccccff"]{background:#ececec}

