/**
 * BEGIN: styles for docs.sun.com
 */

td.active           {color:#fff;background:#000;font-weight:bold}
td.active a:active  {color:#fff;text-decoration:none}
td.active a:visited {color:#fff;text-decoration:none}
td.active a:link    {color:#fff;text-decoration:none}
td.passive          {color:#000;background:#ccc;font-weight:bold}
td.unavailable      {color:#999;background:#000;font-weight:bold}

tr.index td         { line-height: 150% }
tr.index a:link img {border-color: #333399;}
tr.index a:visited img {border-color: #9999ff;}
tr.index a:active img {border-color: #ff0000;}
tr.index a:link     {color: #3366ff;text-decoration:none}
tr.index a:active   {color: #ff0000;;text-decoration:none}
tr.index a:visited  {color: #330066;;text-decoration:none}

ul.toc              {list-style:none}
ul.toc              {list-style-type:none}
li.toc              {list-style:none}
li.toc              {list-style-type:none}

body,th,td,p        {color:#222}
code,kbd,tt,pre,code span,kbd span,tt span,pre span{color:#555; margin:5px;}

h1.sol, h1.sol *    {font-size:26px; padding-top:24px; color:#000}
h2.sol, h2.sol *    {font-size:22px; padding-top:24px; color:#000}
h3.sol, h3.sol *    {font-size:18px; padding-top:24px; color:#000}
h4.sol, h4.sol *    {font-size:16px; padding-top:24px; color:#000}
h5.sol, h5.sol *    {font-size:14px; padding-top:24px; color:#000}
h6.sol, h6.sol *    {font-size:14px; padding-top:24px; color:#000}

h2.sol img    {padding-top:10px; padding-right:5px;}

/**
 * END: styles for docs.sun.com
 */
