/* ###########################################################################

GLOBAL ASSETS RELEASE v6.0.2

BUILD DATE: 20100224

########################################################################### */

/* k5 css */

/* note: some k5 styles are also set in javascript */
div.k5{position:fixed;top:0px;left:0px;right:0px;bottom:0px;background:transparent url("../im/dimout_dark.png");background:rgba(0,0,0,0.5);width:100%;height:100%;z-index:100}
div.k5w1{position:relative;background:#fff;margin:50px auto 0px;width:300px;padding:1px 12px;z-index:150;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:5px 5px 15px #333;-webkit-box-shadow:5px 5px 15px #333}
* html div.k5w1{filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=6, OffY=6, Color='#44000000', Positive='true')}
* html div.k5{position:absolute;background:transparent;top:expression(document.documentElement.scrollTop + 'px');width:expression(document.documentElement.clientWidth + 'px')}
* html div#k5ie6bg{position:absolute;z-index:99;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#77000000,endColorstr=#77000000);top:0px;height:expression(document.body.clientHeight + 'px');width:expression(document.documentElement.clientWidth + 'px');left:0px}
* html div.k5w1,
* html div.k5w2{height:1px}
div.k5vid div.k5w1{padding:1px 23px 11px 23px;background:white url("../im/k5_bg_dot_grid.jpg") repeat-x 0% 100%}
div.k5w1 h2.k5title{margin:4px 0px 5px 0px;float:left;font-size:13px;min-height:1em}
div.k5vid h2.k5title{margin-top:7px}
div.k5w1 p.k5close,/*legacy*/
div.k5w1 p.k5closer{text-align:right;margin:2px -10px 2px auto;padding-right:1px;font-weight:bold;font-size:18px;cursor:pointer;max-width:30px}
div.k5vid p.k5close,/*legacy*/
div.k5vid p.k5closer{margin-right:-20px}
p.k5close img,/*legacy*/
p.k5closer img{vertical-align:-1px}
div.k5w2{margin:0px 0px 11px 0px;clear:both}/* the clear is for ie6&7 */
div.k5empty div.k5w2{padding:0px 12px;background:black url("../im/k5_progress_bar.gif") no-repeat 50% 50%;height:200px}
div.k5empty div.k5w2 p{color:#070;font-family:Monaco,Courier,"Courier New";font-size:11px}
div.k5error div.k5w1{width:500px}

* html .k5shadow,
div.k5empty .k5shadow,
html.browserSafari .k5shadow{display:none}
.k5shadow{position:relative;z-index:149;top:0px;left:0px}
.k5shadow table{background:transparent;margin:auto;border-collapse:collapse}
.k5shadow td{width:24px;height:24px;padding:0px}
.k5shadow td.tl,
.k5shadow td.tr,
.k5shadow td.bl,
.k5shadow td.br{background-image:url("../im/k5shadow-corners.png");background-repeat:no-repeat}
.k5shadow td.tl{background-position:0% 0%}
.k5shadow td.tr{background-position:100% 0%}
.k5shadow td.bl{background-position:0% 100%}
.k5shadow td.br{background-position:100% 100%}
.k5shadow td.tc,
.k5shadow td.bc{background-image:url("../im/k5shadow-top-bottom.png");background-repeat:repeat-x}
.k5shadow td.tc{background-position:50% 0%}
.k5shadow td.bc{background-position:50% 100%}
.k5shadow td.ml,
.k5shadow td.mr{background-image:url("../im/k5shadow-left-right.png");background-repeat:repeat-y}
.k5shadow td.ml{background-position:0% 50%}
.k5shadow td.mr{background-position:100% 50%}

div.k5extra{padding:0px 3px;margin: 9px 0px 14px;line-height:130%}
* html div.k5extra{padding-bottom:1px}
div.k5extra h1,div.k5extra h2,div.k5extra h3,div.k5extra h4,div.k5extra h5,div.k5extra h6,div.k5extra p,div.k5extra ul,div.k5extra ol,div.k5extra dl,div.k5extra blockquote,div.k5extra pre{margin-top:6px;margin-bottom:6px}
div.k5extra h4{font-size:14px}
div.k5extra h5{font-size:13px}
div.k5extra h6{font-size:12px}
div.k5extra h1 + p,div.k5extra h2 + p,div.k5extra h3 + p,div.k5extra h4 + p,div.k5extra h5 + p,div.k5extra h6 + p{margin-top:-6px}
div.k5extra li{padding-top:0;padding-bottom:0;margin:2px 0px;position:relative}

div.k5login div.k5w1{background:white url("../im/k5login_bg.gif") repeat-x 0% 0%}
div.k5login h2.k5title{margin:6px 0px 22px;white-space:nowrap}

div.k5info div.k5w1{background:white url("../im/k5info_bg.gif") repeat-x 0% 0%} /* bg used in sr03 also */
div.k5info h2.k5title{margin-top:6px;white-space:nowrap}
div.k5info p.k5close,/*legacy*/
div.k5info p.k5closer{margin-bottom:18px}
div.k5login .k5title,
div.k5info .k5title{text-shadow:0px 1px 0px rgba(255,255,255,0.4),0 -1px 0 rgba(0,0,0,0.2)}

div.k5info div.hr,div.k5login div.hr{height:0;border:1px solid #ccc}
div.k5login div.hr{border-color:#c1c1c1 #f6f6f6 #f6f6f6 #c1c1c1}
div.k5info div.hr{border-color:#c1c1c1 #f6f6f6 #f6f6f6 #c1c1c1}

div.k5media div.k5w1{width:642px;min-width:642px;width:-moz-fit-content}

.gecko body.paused .xfade,.gecko body.paused .xfadefirst{display:none}

.k5infopreload {background-image:url("../im/k5info_bg.gif")}
.k5loginpreload{background-image:url("../im/k5login_bg.gif")}
.k5vidpreload  {background-image:url("../im/k5_bg_dot_grid.gif")}


body.a0v3{padding:0px 10px;width:auto;margin:0px}
div#pagewrap{position:relative;min-width:642px;padding:1px 0px}
body.a0v3 div.pagetitle{margin:10px 0px;padding:0px}

/* media shell */
div.k3{background:#b7b7b7 url("../im/media-shell-gradient.jpg") repeat-x 0px 0px; padding-bottom:1px}
div.k5 div.k3{-moz-border-radius:5px;-webkit-border-radius:5px}
div.pagetitle + div.k3{border-top:2px solid #9b9b9b}

/* the "stretched" canvas */
html>body div.k3stretch{height:auto;min-height:492px}

/* the main canvas */
div.k3obj-container,div.k3obj-gallery{padding:15px 10px 0px 10px;position:relative}
div.k3obj-container div.k3w1{margin:auto}
div.k3obj-container div.k3w1,div.k3obj-gallery div.k3w1{
	background:#fff;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:5px 0px;
	width:535px;
	min-height:428px;
	_height:428px!important;
}

html > body div.k3obj-container div.k3w1,
html > body div.k3obj-gallery div.k3w2{display:table;width:100%}
html > body div.k3obj-container div.k3w1,
html > body div.k3obj-gallery div.k3w2{display:table-cell;height:428px;vertical-align:middle}

div.k3obj-container div.k3w4,
div.k3obj-gallery div.k3w4{text-align:center}
p.k3obj{margin:0px;z-index:200}

.extraSpan1,
.extraSpan2,
.extraSpan3,
.extraSpan4{display:none}

.k3obj{position:relative;z-index:100}
.k3w4{position:relative;z-index:200}

/* suppress the white stage */
div.k3blank-stage div.k3w1,
div.k3blank-stage div.k3w2,
div.k3blank-stage div.k3w3,
div.k3blank-stage div.k3w4{background:transparent}
div.k3blank-stage kiv.k3obj-container div.k3w1{width:100%}
div.k3blank-stage span.extraSpan1,
div.k3blank-stage span.extraSpan2,
div.k3blank-stage span.extraSpan3,
div.k3blank-stage span.extraSpan4{display:none}

/* video layout table */
table.k3video-layout{width:575px;margin:0px auto 30px auto}
table.k3video-layout td{padding-top:30px;vertical-align:top;text-align:left}
td.k3video-info{padding-left:15px}

/* gallery thumbnails */
div.k3obj-gallery div.k3thumbs{text-align:right;position:absolute;top:9px;right:10px}
* html div.k3obj-gallery div.k3thumbs{right:20px}
div.k3obj-gallery div.k3thumbs ul{margin:0;padding:0;list-style:none}
div.k3obj-gallery div.k3thumbs li{list-style-image:url("../im/a.gif");margin:6px 0px}
div.k3obj-gallery div.k3thumbs li img{width:77px;height:64px;vertical-align:middle;margin-bottom:3px}
div.k3obj-gallery div.k3thumbs li a{padding-bottom:1px}
div.k3obj-gallery div.k3thumbs li a:hover img,div.k3obj-gallery div.k3thumbs li a.k3current img{background:transparent url("../im/pc3_border_on.gif") no-repeat 0 0}
div.k3obj-gallery div.k3thumbs li a img{background:transparent url("../im/pc3_border_off.gif") no-repeat 0 0}
img{border:none}

/* gallery description and prev/next links */
div.k3obj-gallery p.k3obj-desc{margin:0px;padding:10px 0px;position:relative;padding-right:110px;width:425px}
div.k3obj-gallery span.k3prevnext{position:absolute;top:10px;right:0px}

/* footer links in media shell */
body.a0v3 div.a5{text-align:center;background:#b7b7b7 url("../im/logo_sun_shell.gif") no-repeat bottom right;margin:-10px 0 0 0;padding:17px 80px 19px 10px}

body.a0v3 div#a5 ul{margin:0;padding:0;float:none;display:block;list-style:none;text-align:left}
body.a0v3 div#a5 li{margin:0;padding:0;float:left;display:block;list-style:none;list-style-image:url("../im/a.gif");margin-right:4px;padding-right:4px}
body.a0v3 div#a5 li+li:before{content:" | ";padding-right:4px;color:black}
html body.a0v3 div#a5 li a{margin:0;padding:0;float:none;display:inline}

body.a0v3 div.a5 a:link,div.k3 a:link{color:black;border-color:black}
body.a0v3 div.a5 a:visited,div.k3 a:visited{color:black;border-color:black}
body.a0v3 div.a5 a:hover,div.k3 a:hover{color:black;border-color:black}
body.a0v3 div.a5 a:active,div.k3 a:active{color:black;border-color:black}

/* close window button */
p#close-win{position:absolute;top:10px;right:10px;margin:0}

* html div.k3{border-top:2px solid #9b9b9b}
/* for vertical centering */
div.k3obj-container div.k3w4 .k3obj,div.k3obj-gallery div.k3w4 .k3obj{margin-top:expression((this.parentNode.offsetHeight - this.offsetHeight) / 2 + "px")}



* html div.k5w2 div.k3obj-gallery div.k3thumbs{right:10px}
* html div.k5w2 div.k3 div{height:1%}
