body {
    margin:0;
    padding:0;
    background-color:white;
    color:black;
    font-family:Tahoma,sans-serif;
    font-size:small;
}

#LIBRARY {
    background:inherit;
    color:#0B3D73;
    font-family:serif;
    font-size:180%;
}
