@media screen {
	#oo_feedback_static {font: 12px arial;cursor: pointer;}
	#oo_feedback_float {font: 12px arial;text-align: center;width:120px;height:50px;padding: 0 12px 12px 0;visibility: hidden;cursor: pointer;}
	#oo_feedback_float_white {font: 12px arial;color: #FFF;text-align: center;width:120px;height:50px;padding: 0 12px 12px 0;visibility: hidden;cursor: pointer;}
	#fbText {display: block;padding: 3px;}
	#olOver {background: #FFF;border: 1px solid #CCC;padding: 10px;}
	#olOver_white {color: #000;background: #FFF;border: 1px solid #CCC;padding: 10px;}
	/* Card pop-up elements */
	#onlineopinion_cc_overlay {z-index:100;width: 100%;height: 100%;left: 0;top: 0;padding: 0;margin: 0;background-color: #000;position: fixed;display: none;opacity: .3;filter: alpha(opacity=30);z-index: 98;}
	.onlineopinion_cc_div {background: transparent !important;font: 12px arial;z-index:101;padding: 0;background: #000;position: fixed;top: 25px;left: 0;display: none;z-index: 99;}
	a.onlineopinion_cc_closelink {display: block;text-decoration:none;background: url(oo_close.png) no-repeat;height: 24px;right: -5px;position: absolute;top: -10px;z-index: 15;width: 24px;}
	.onlineopinion_cc_frame {width:535px;border: 1px solid #666;/*  height:400px; */ background-color: #FFF;opacity: 1.0;filter: alpha(opacity: 100);/*  overflow: hidden;*/ position: relative;z-index: 5;-moz-box-shadow: rgba(0,0,0,.6) 0 0 15px;-webkit-box-shadow: rgba(0,0,0,.6) 0 0 15px;}
	.onlineopinion_cc_shadow {background: url(oo_shadow.png) repeat-y;top: 0;height: 100%;position: absolute;left: -27px;width: 589px;z-index: 4;}
	.onlineopinion_cc_shadow_top {background: url(oo_shadow_top.png);top: -11px;height: 11px;position: absolute;left: -27px;width: 589px;z-index: 4;}
	.onlineopinion_cc_shadow_bottom {background: url(oo_shadow_bottom.png) repeat-y;bottom: -11px;height: 11px;position: absolute;left: -27px;width: 589px;z-index: 4;}
	#olUp{background:url('../im/oo_whitebg.png') 50% 0 no-repeat;padding:6px;_background:transparent !important}
	#oo_feedback_float_white #olUp{background:transparent !important}
}

@media print {#oo_feedback_float, #olUp, #olOver {display: none;}}