##
## $Rev: 696036 $ $Date: 2008-09-16 16:13:17 -0400 (Tue, 16 Sep 2008) $
##

RewriteEngine on

##
## Doc root level redirection rules based on those on /redirects directory,
## using Redirect instead of RewriteRule as requested by infra@

Redirect /issues http://issues.apache.org/jira/browse/GERONIMO

Redirect /tutorials/2.1 http://geronimo.apache.org/GMOxDOC21/tutorials.html

Redirect /wiki.html http://cwiki.apache.org/geronimo
Redirect /wiki http://cwiki.apache.org/geronimo

Redirect /issues.html http://issues.apache.org/jira/browse/GERONIMO

Redirect /userMailingList.html http://mail-archives.apache.org/mod_mbox/geronimo-user/

Redirect /developerMailingList.html http://mail-archives.apache.org/mod_mbox/geronimo-dev/

Redirect /additionalDocumentation.html http://cwiki.apache.org/geronimo

Redirect /faq.html http://geronimo.apache.org/GMOxKB

Redirect /additionalSamples.html http://geronimo.apache.org/GMOxSAMPLES

# Confluence autoexport is changing RELEASE-NOTES link incorrectly
# Redirect /GMOxDOC20 http://cwiki.apache.org/GMOxDOC20
# Redirect /GMOxDOC21 http://cwiki.apache.org/GMOxDOC21
# Redirect /GMOxDOC22 http://cwiki.apache.org/GMOxDOC22

