@charset "utf-8";
/*
  doclibstyles.css
  Copyright 2010, 2011, Oracle and/or its affiliates. All rights reserved.
*/

#BOOKLIST {
  width: 100%;
  border: 1px solid #ccc;
}

#BOOKLIST td {
  margin: 0 2px;
  border-bottom: 1px solid #ccc;
}

.portlet_intro, .portlet_intro td, .portlet_intro td p, .portlet_intro td a,
.portlet_intro td li, .portlet_intro td ul {
  background-color: #f6f6ff;
}

tr.libtablehighlight {
  background-color: #f6f6ff;
}

table.libdoclist td, table.libdoclist td a {
  vertical-align: top;
  padding: 3px;
  margin: 0;
  border-width: 0;
  background-color: #f6f6ff;
  border-collapse: collapse;
  border-style: none;
}

table.libdoclist {
  border: 1px solid #aab;
  background-color: #f6f6ff;
  width: 99%;
  padding: 2px;
}

tr.tablehilite td, tr.tablehilite td a {
  background-color: white;
}

.libdoclistlink {
  width: 35px;
}

td.libdoclisttitle {
  width: 90%;
  padding-left: 10px;
}

td.libdoclistlink {
  width: 4em;
}

td {
  font-size: small;
}

table.libtopnav {
  margin-bottom: 2px;
  width: 100%;
}

table.libtopnavlinks {
  float: right;
}

table.libtopnavlinks td {
  text-align: center;
  vertical-align: top;
}

a:link {
  color: #0000ff;
}

a:visited {
  color: #800080;
}

a:hover {
  color: #ff0000;
}

a:active {
  color: #ff0000;
}

h1 {
  font-size: 16px;
  border-bottom-style: none;
  margin-bottom: 5px;
  margin-top: 8px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

.newsBlock {
  border-right: 1px solid #cc0000;
  padding-right: 20px;
  border-top: 1px solid #cc0000;
  padding-left: 20px;
  padding-bottom: 15px;
  border-left: 1px solid #cc0000;
  width: 99%;
  padding-top: 15px;
  border-bottom: 1px solid #cc0000;
  background-color: #eeeeee;
  text-align: center;
}

.libsubnote, .libsubnote a {
  width: 88%;
  font-size: smaller;
  padding-left: 12px;
}

.libmaincolumn {
  position: relative;
  float: left;
  width: 67%;
}

.libsidebar {
  float: right;
  width: 30%;
  margin-right: 0.5em;
}

.libbalancedcolumn {
  width: 48%;
}

.libsidebarbox {
  background-color: #f6f6ff;
  margin-top: 10px;
  border: 1px solid #aab;
}

.libsidebarbox, table.libdoclist {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.libsidebarbox div {
  background-color: #f6f6ff;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 6px;
}

.libsidebarbox div p, .libsidebarbox div a, .libsidebarbox div ul,
.libsidebarbox div ul li {
  background-color: #f6f6ff;
}

.libsidebarbox div p, .libsidebarbox div ul {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 16px;
  padding-right: 0;
}

.libsidebarbox h1, .libsidebarbox h2, .libsidebarbox h3 {
  background-color: #e8e8ee;
  text-decoration: none;
  margin: 0 0 0 0;
  padding: 3px 0 3px 0;
}

.libsidebarbox p, .libsidebarbox a, .libsidebarbox p a, .libsidebarbox li,
.libsidebarbox li a, .libsidebarbox ul, .libsidebarbox ol,
.libsidebarbox div p, .libsidebarbox div ul, .libsidebarbox div ol {
  background-color: #f6f6ff;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.libsidebarbox div p {
  margin-bottom: 0;
  padding: 0;
}

.libmaincolumn h1, .libsidebar h1 {
  font-size: 130%;
}

.libsidebar .libsidebarbox h1 {
  font-size: 100%;
}

#footer {
  clear: both;
  margin-top: 80px;
  text-align: center;
  color: black;
  font-size: 66%;
}

body {
  color: black;
}

.striped {
  background-color: white;
}

.news {
  background-color: #f6f6ff;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 3px;
  margin-bottom: 3px;
  clear: both;
  width: 99%;
  border: 1px solid #cccc99;
}

.note {
  background-color: #f6f6ff;
  padding: 8px;
  width: 80%;
  border: 1px solid #cccc99;
}

.contrasting h1 {
  margin-top: 0;
}

.contrasting h2 {
  margin-top: 0;
}

.contrasting h3 {
  margin-top: 0;
}

.tablehilight {
  background-color: #f6f6ff;
}

.libcopyright {
  text-align: center;
  background-color: white;
  color: black;
  font-size: 66%;
}

/* -- Additional rules - merge where possible -- */

p {
  margin-bottom: 0.3em;
  margin-top: 0;
  margin-right: 2px;
}

h1 {
  margin-bottom: 0;
}

/* --- Accomodate optional left navigation sidebar--- */

body#left-nav-present {
  margin: 0;
  padding: 0 0 0 20em;
  overflow-x: hidden;
}

div#nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 19em;
  height: 100%;
  overflow: auto;
  padding: 0;
  margin: 0;
  border-right: 2px solid #ccc;
}

@media screen {

  body > div#nav {
    position: fixed;
  }

}

* html body#left-nav-present {
  overflow: hidden;
}

* html div#main {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* --- Leave out or modify certain elements for print media --- */

@media print {

  #nav, #search_this_book, #comment_form, #comment_announcement, #flipNav {
    display: none !important;
    float: none !important;
    position: static !important;
  }

  body#left-nav-present {
    overflow-x: visible !important;
  }

  html, body {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    float: none !important;
    position: static !important;
  }

  .IND, .header, .footer {
    position: static !important;
    float: none !important;
    height: auto !important;
  }

}
