@charset "utf-8";
/*
  tahiti.css
  Copyright 2010, 2012, Oracle and/or its affiliates. All rights reserved.
*/

/* --- Styling for entire page --- */

body {
  padding-left: 6px;
}

#main {
  width: 100%;
}

/*
  This next batch adapted from older BLAF and App Server style declarations.
*/

body, p, table, td, th, ol, ul, li, a, dl, dt, dd, blockquote, caption {
  font-size: small;
}

.text, .text2, .text label, .text input, .text td, .text2 td, .text td p,
.text2 td p {
  color: black;
  font-size: small;
}

.datestamp {
  padding-right: 1em;
}

.copyright {
  text-align: center;
  background-color: white;
  color: black;
  font-size: 80%;
}

.title2 {
  color: black;
  font-size: 80%;
  font-weight: bold;
}

.OraPortletHeader {
  font-weight: bold;
  color: #336699;
  margin-top: 0;
  margin-bottom: 0;
}

.portlet_intro, .portlet_intro td, .portlet_intro td p, .portlet_intro td a,
.portlet_intro td li, .portlet_intro td ul {
  background-color: #f7f7e7;
}

body {
  color: black;
}

.TITLES, .titles {
  color: #326598;
  font-size: 24px;
}

/*
Apply to links in table cells that are likely to be single letters,
so that e.g. 'I' isn't so narrow it's difficult to select.
*/
.IDXCELL, .idxcell {
  font-family: monospace;
}

.SUBTITLES, .subtitles {
  font-size: 16pt;
  color: #326598;
  padding: 4pt;
}

.toc1 {
  font-size: small;
  margin-left: 0;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 0;
}

.toc2 {
  font-size: small;
  margin-left: 20px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.toc3 {
  margin-left: 40px;
}

/* --- */

.search_page a {
  font-size: inherit;
  background-color: inherit;
}

.search_page a:link {
  font-size: inherit;
  background-color: inherit;
}

.search_page a:visited {
  font-size: inherit;
  background-color: inherit;
}

.search_page a:hover {
  font-size: inherit;
  background-color: inherit;
}

.search_page a:active {
  font-size: inherit;
  background-color: inherit;
}

.search_page p {
  font-size: inherit;
  background-color: inherit;
}

.search_page td {
  font-size: inherit;
  background-color: inherit;
}

.search_page table {
  font-size: inherit;
  background-color: inherit;
}

.search_field {
  background-color: white;
}

.reference_page {
  border: thin solid #cc9;
  width: 70%;
  margin: 0;
  padding: 0;
}

/*
In the BLAF-style portlet code, the portlets have a background
color and these "tablehilite" items in alternating rows
are actually the white ones.
*/
.tablehilite, .tablehilite td, .tablehilite td a {
  background-color: white;
}

.tabs {
  font-size: 1pt;
  background-image: url(../images/blaf/tab_bg.gif);
  line-height: 27%;
  width: 100%;
}

/* --- Master Index styling --- */

.index_list dd {
  font-style: italic;
  font-size: smaller;
  margin-bottom: 0;
}

.index_list dl:first-child {
  margin-top: 0;
}

.index_list dd a {
  font-weight: bold;
  font-style: normal;
}

.index_list dd span {
  font-weight: bold;
  font-style: normal;
  font-size: larger;
}

.index_list dd dd a {
  font-weight: normal;
  font-style: normal;
}

.index_list dd dd span {
  font-weight: normal;
  font-style: normal;
}

/* --- */

.form_label {
  font-weight: bold;
  text-align: center;
}

.glossary_filter {
  float: right;
  border: thin solid #cc9;
  padding: 4px;
  margin-left: 10px;
}

.letter_links_main {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #cc9;
  padding: 0;
  border-collapse: collapse;
}

/* A set of single-letter links immediately above
 a set of 2- or 3-letter links.  */

.letter_links_main td {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #cc9;
  padding: 4px 4px 0 4px;
}

/* A set of 2- or 3-letter links immediately following
 a set of single-letter links. */

.letter_links_sub {
  border-width: 1px;
  border-style: solid;
  border-color: #cc9;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

.letter_links_sub td {
  border-width: 1px;
  border-style: solid;
  border-color: #cc9;
  padding: 4px;
}

/* A set of abbreviation links with no following expanded set. */

.letter_links_only {
  border-width: 1px;
  border-style: solid;
  border-color: #cc9;
  margin-top: 10px;
  margin-bottom: 1em;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  background-color: inherit;
}

.letter_links_only td {
  border-width: 1px;
  border-style: solid;
  border-color: #cc9;
  padding: 4px;
  background-color: inherit;
}

.keyword_list {
  width: 100%;
  border-collapse: collapse;
}

.keyword_list td {
  padding: 4px 10px 4px 10px;
}

/* Virtual book styling. */

div.branch0 a {
  margin-left: 16px;
  font-size: small;
}

div.branch1 a {
  margin-left: 1cm;
  font-size: small;
}

div.branch2 a {
  margin-left: 1.5cm;
}

div.branch3 a {
  margin-left: 2cm;
}

.toc_heading, .toc_heading a {
  font-size: small;
}

.toc_entry {
  font-size: small;
  margin-left: 20px;
}

.toc_entry_standalone {
  font-size: small;
  margin-left: 0;
}

.toc_subentry {
  font-size: small;
}

a.linkanchor {
  color: blue;
  cursor: pointer;
}

div.branch0 a:link {
  color: #0000ff;
}

div.branch0 a:visited {
  color: #800080;
}

div.branch0 a:hover {
  color: #ff0000;
}

div.branch0 a:active {
  color: #ff0000;
}

div.branch1 a:link {
  color: #0000ff;
}

div.branch1 a:visited {
  color: #800080;
}

div.branch1 a:hover {
  color: #ff0000;
}

div.branch1 a:active {
  color: #ff0000;
}

/* Styling for experimental elements in the navigation bars. */

.shortcut_links a {
  font-size: 95%;
}

.simple_search_form {
  margin-bottom: 0;
}

.simple_search_form input {
  font-size: small;
}

.simple_search_form_container {
  margin-top: 8px;
  margin-left: 8px;
}

.tree_toolbar {
  margin-bottom: 10px;
}

/* Styling for the search results page. */

/* A div with this class goes around each search result. */
.search_result {
  border: none;
  margin: 5pt 2pt;
  padding: 5pt;
}

/* So the following only apply to these classes or elements in a search result context. */

.search_result .source {
  color: green;
  font-weight: bold;
}

.search_result .toc_link a:link {
  color: green;
}

.search_result .pdf_link a:link {
  color: green;
}

.search_result .show_link a:link {
  color: green;
}

.search_result .hide_link a:link {
  color: green;
}

.search_result .summary {
  font-size: small;
}

.search_result .result_link {
  border: none;
}

.search_result .result_link a:link {
  font-size: medium;
  color: blue;
}

.search_result .result_link a:visited {
  font-size: medium;
  color: purple;
}

.search_result .context a:link {
  color: blue;
}

.search_result .context a:visited {
  color: purple;
}

.search_result a {
  font-size: inherit;
  background-color: inherit;
}

.search_result a:link {
  font-size: inherit;
  background-color: inherit;
}

.search_result a:visited {
  font-size: inherit;
  background-color: inherit;
}

.search_result a:hover {
  font-size: inherit;
  background-color: inherit;
}

.search_result a:active {
  font-size: inherit;
  background-color: inherit;
}

/* --- Styling for Advanced Search fields --- */

#advanced_search_form {
  padding-right: 25%;
  text-align: right;
  font-size: 110%;
}

#advanced_search_form select {
  width: 25%;
}

/*
#advanced_search_form {
   padding-right: 10%;
   clear: both;
  font-size: 110%;
 }

#advanced_search_form p {
}

#search_all_control, #search_any_control, #search_phrase_control,
#search_not_control, #search_limit_control, #search_method_control,
#search_single_control, #search_category_control, #search_type_control,
#search_role_control {
  text-align: right;
}

#search_all_control, #search_any_control, #search_phrase_control,
#search_not_control, #search_limit_control, #search_method_control,
#search_single_control, #search_category_control, #search_type_control,
#search_role_control {
  width: 70%;
  margin-left: 10em;
}

#all_words_search, #any_words_search, #exact_phrase_search, #not_words_search {
  width: 30%;
}

#title_search, #partno, #tab_id, #info_type, #job_role {
  width: 30.5%;
}

#results_per_page {
  width: 10%;
}

.phantom_search_button {
  padding-right: 3.75em;
}

.phantom_20_percent {
  padding-right: 20%;
}
*/
