@charset "utf-8";
/*
  bp_layout.css
  Copyright 2007, 2012, Oracle and/or its affiliates. All rights reserved.
  Version: 2014.4.7
*/

body {
  margin: 0;
  padding: 0;
}

h1 {
  display: none;
}

#FOOTER {
  border-top: 10px solid #0d4988;
  background-color: inherit;
  color: #e4edf3;
  clear: both;
}

#FOOTER p {
  font-size: 80%;
  margin-top: 0;
  margin-left: 1em;
}

#FOOTER a {
  background-color: inherit;
  color: gray;
}

#LEFTCOLUMN {
  float: left;
  width: 50%;
}

#RIGHTCOLUMN {
  float: right;
  width: 50%;
  clear: right; /* IE hack */
}

#LEFTCOLUMN div.portlet {
  margin-left: 2ex;
  margin-right: 1ex;
}

#RIGHTCOLUMN div.portlet {
  margin-left: 1ex;
  margin-right: 2ex;
}

#RIGHTCOLUMN div.portlet2 {
  margin-left: 1ex;
  margin-right: 2ex;
}

div.portlet {
  margin: 2ex 1ex;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: #bcc solid 1px;
  background-color: #f6f6ff;
  color: black;
}

div.portlet2 {
  margin: 2ex 1ex;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: #bcc solid 1px;
  background-color: #fbfbda;
  color: black;
}

div.portlet3 {
  margin: 2ex 1ex;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: #bcc solid 1px;
  border-bottom-width:3px;
  border-bottom-color:#0d4988;
  background-color: #f6f6ff;
  color: black;
}

div.portlet2 h2 {
  margin-top: 0.5ex;
  margin-bottom: 0;
  font-size: 110%;
}

div.portlet h2 {
  margin-top: 0.5ex;
  margin-bottom: 0;
  font-size: 110%;
}

div.portlet p {
  margin-top: 0;
}

div.portlet2 h2 {
  margin-top: 0.5ex;
  margin-bottom: 0;
  font-size: 110%;
}

div.portlet3 p {
  margin-top: 0;
}

div.portlet3 h2 {
  margin-top: 0.5ex;
  margin-bottom: 0;
  font-size: 110%;
}

div.portlet2 p {
  margin-top: 0;
}
div.portlet ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0; /* IE Hack */
}

div.portlet li {
  text-align: right;
}

div.portlet li:nth-child(odd) {
  background-color:white;
}

tbody tr:nth-child(odd) {
  background-color:white;
}

div.portlet li cite {
  font-style: normal;
  float: left;
}

div.portlet li a {
  margin: 0 0.2ex;
  padding: 0 0.2ex;
  font-size: 95%;
}

div.portlet ul.circle li {
  text-align: left;
 list-style-type: circle;
  margin-left: 2em;
}

#NAME {
  margin: 0;
  padding: 0;
  position: relative;
  top: 0.6ex;
  left: 10px;
  width: 80%;
}

#PRODUCT {
  font-size: 180%;
}

#LIBRARY {
  color: #0b3d73;
  background: inherit;
  font-size: 180%;
  font-family: serif;
}

#RELEASE {
  position: absolute;
  top: 28px;
  font-size: 80%;
  font-weight: bold;
}

#TOOLS {
  list-style-type: none;
  position: absolute;
  top: 1ex;
  right: 2em;
  margin: 0;
  padding: 0;
  background: inherit;
  color: black;
}

#TOOLS a {
  background: inherit;
  color: black;
}

#NAV {
  float: left;
  width: 96%;
  margin: 3ex 0 0 0;
  padding: 2ex 0 0 4%; /* Avoiding horizontal scroll bars. */
  list-style-type: none;
  background: url(../gifs/nav_bg.gif) bottom repeat-x transparent;
}

#NAV li {
  float: left;
  margin: 0 0.1em 0 0;
  padding: 0 0 0 0;
}

#NAV li a {
  display: block;
  margin: 0;
  padding: 3px 0.7em;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: none;
  border-left: 1px solid gray;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;
  background-color: #a6b3c8;
  color: #333;
  text-decoration: none;
}

#SUBNAV {
  float: right;
  width: 96%;
  margin: 0 0 0 0;
  padding: 0.1ex 4% 0.2ex 0; /* Avoiding horizontal scroll bars. */
  list-style-type: none;
  background-color: #0d4988;
  color: #e4edf3;
}

#SUBNAV li {
  float: left;
  width: auto;
  margin: 0ex 2px 0ex 0em;
  padding: 0ex 0em 0ex 5em;
}
#SUBNAV li a {
  position: relative;
  top: 1px;
  display: block;
  margin: 0px;
  padding: 0px 9px 0px 9px;
  border-top: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: none;
  border-left: 1px solid gray;
  background-color: #b8c5da;
  color: #333;
  text-decoration: none;
}

#SIMPLESEARCH {
  position: absolute;
  top: 5ex;
  right: 1em;
}

#CONTENT {
  clear: both;
}

#NAV a:hover,
#PORTAL_1 #OVERVIEW a,
#BOOKLIST #OVERVIEW a,
#PORTAL_2 #MANAGEMENT a,
#PORTAL_3 #RELNOTES a,
#PORTAL_4 #EXTENSIBILITY a,
#PORTAL_5 #PLUGINS a,
#PORTAL_6 #CONNECTORS a,
#PORTAL_7 #REFERENCE a,
#PORTAL_8 #ASSOPRODUCTS a
#PORTAL_2 #ADMINISTRATION a,
#PORTAL_3 #TECHNOLOGY a,
#PORTAL_4 #DEVELOPMENT a 
#PORTAL_4 #SUPPLYMGMT a,
#PORTAL_5 #FMS a,
#PORTAL_6 #OVERVIEW a,
#PORTAL_7 #ALM a,
#PORTAL_8 #CRM a,
#PORTAL_9 #HCM a,
#PORTAL_10 #PROJECTMGMT a,
#PORTAL_11 #HSE a,
#PORTAL_12 #SCMANDMFG a,
#PORTAL_13 #LOCALIZATIONS a,
#PORTAL_14 #CROSSPRODUCT a,
#PORTAL_15 #INMEMORY a,
#PORTAL_16 #OVR a,
#PORTAL_2 #INSTALLATION a,
#PORTAL_3 #UPGRADE a,
#PORTAL_4 #REFERENCE a,
#PORTAL_2 #HOWTO a,
#PORTAL_4 #PLUGIN a,
#PORTAL_5 #REFERENCE a,
#PORTAL_2 #OPERATE a,
#PORTAL_3 #DEMOS a,
#PORTAL_6 #VIRTUALIZE a,
#PORTAL_7 #DEPLOY a,
#PORTAL_16 #ADMINISTRATION a,
#NAV li a.highlight {
  background-color: #0d4988;
  color: #e4edf3;
  padding-bottom: 4px;
  border-color: gray;
}

#SUBNAV a:hover,
#PORTAL_2 #SEARCH a,
#PORTAL_3 #RNRELEASE1 a,
#PORTAL_3 #BOOKS a,
#PORTAL_6 #WAREHOUSING a,
#PORTAL_7 #UNSTRUCTURED a,
#PORTAL_15 #INTEGRATION a,
#PORTAL_16 #GRID a,
ul#SUBNAV li.subhighlight a {
  position: relative;
  top: 2px;
  background-color: white;
  color: #0a4e89;
}
ul.bullet li {
  text-align: left;
  list-style-type: disc;
  margin: 0px 1.5em;
}
