/* CSS Document */

/*UX styles*/

article a:active{ color: #0080FF; text-decoration: none;}
article a:hover{ color: #0080FF; text-decoration: underline;}
article a:visited{ color: #1D5AAB; text-decoration: none;}


.chapter-number  {
font-size: 42px;
font-weight: 500 !important;
color: #BFBFBF;
float: left;

line-height: 50px;
vertical-align:text-bottom !important;

margin:0 7px 0 0 ;
padding:0;}

article h1, .chapter_name  {
font-size: 36px;
font-weight: 500 !important;
color: #000;

line-height: 50px !important;
vertical-align: text-bottom !important;

margin:0;
padding:0 !important;}

article H2 {
font-size: 30px;
font-weight: 500; 
color: #1D5AAB;
line-height: 1.1;}

article H3 {
font-size: 24px;
font-weight: 500;
color: #252525;
line-height: 1.167;}

article H4 {
font-size: 18px;
font-weight: 500;
color: #252525;
line-height: 1.167;}

article H5 {
font-size: 14px;
font-weight: 500;
color: #252525;
line-height: 1.286;}

article H6 {
font-size: 12px;
font-weight: 500;
color: #252525;
line-height: 1.25;}

article, article p{font-size: 14px;
font-weight: 300;
color: #000;
line-height: 1.429;
}
article{
	padding:40px;
	font-size:14px;
	}

strong, b{
font-weight: 500;}

small{
font-size: 12px;}

sub, sup {
font-size: 75%;
color: #808080;
line-height: 0;
position: relative;
vertical-align: baseline;}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

 blockquote{
margin: 15px 0 15px 40px !important; 
padding: 12px 0 12px 15px !important;
border-left: 3px solid #ccc;}

article a:active {color:#0080FF; text-decoration: none;}
article a:hover {color:#0080FF; text-decoration: underline;}
article a:visited {color:#1D5AAB; text-decoration: none;}

article hr{
	border:0;
	border-bottom: 1px solid #eee;
}

/*implement code mirror
<http://codemirror.net*/

code,samp, tt {
font-family: "menlo", "monaco", "Courier New", Courier, mono, serif;
font-size: 13px;
color: #000;
margin-left:3px;
margin-right:5px;}


pre{
font-family: "menlo", "monaco", "Courier New", Courier, mono, serif;
font-size: 13px;
color: #222;
line-height: 1.615;
background-color: #F9F9FB;
border: 1px solid #d9d9e2;
padding: 10px;

word-wrap:normal !important;
white-space: pre !important;
overflow: auto;
}

/*List Styles*/


 .list-inline ul{
padding-top: 20px;}

 .list-inline li{
display: inline-block;
padding-right: 10px;
margin-left:20px;}


/*Bullet Lists*/


article ol, ul {
    margin-left: 35px;
	padding-top:10px;
	padding-bottom:10px;
	}

article li {
    list-style: none;
	margin-top:10px;
	margin-bottom:20px;
}

article ul li:before {
    /* For a round bullet */
    content: '\2022';
    /* For a square bullet */
    /*content:'\25A0';2713*/
    display: block;
    position: relative;
    max-height: 0px;
    left: -20px;
    top: -0px;   font-weight:bold; font-family:arial;
    color: #1D5AAB;
}

article ul ul li:before {
    
    /* For a square bullet */
    content:'\00ba';
    display: block;
    position: relative;
    max-height: 0px;
    left: -20px;
    top: -0px;   font-weight:bold; font-family:arial;
    color: #1D5AAB;
	font-size:18px;
}

/* Ordered Lists*/

article ol {
    counter-reset:li; /* Initiate a counter */
}

article ol li:before {
    display: block;
    position: relative;
 /*   max-width: 0px;*/
    max-height: 0px;
    left: -20px;
    top: -0px;
    color: #1D5AAB;
    font-weight:bold;
    content:counter(li)'.'; /* Use the counter as content */
    counter-increment:li; /* Increment the counter by 1 */
}


article ol ol li, article ol ul li{
    counter-increment: listStyle;}

article ol ol li:before, article ol ul li:before {
    display: block;
    position: relative;
    max-width: 0px;
    max-height: 0px;
    left: -20px;
    top: -0px;
    color: #1D5AAB;
    font-weight:bold;
     content: counter(listStyle, lower-alpha);}


dl {
padding-left: 40px;}

dt {
font-weight: 500; 
color: #1D5AAB;
padding-bottom: 15px;}

dd {}


/*table styles*/

article table{

}
article th{
background: #3F3F3F;
font-weight: 500;
color: #FFF;
text-align: left;
padding:5px 6px;	
/*vertical-align: center;*/}

article tr{
vertical-align: top;
padding: 8px 6px 8px 6px;
border-bottom: 1px solid #3F3F3F;}

article tr:last-child{
border-bottom: 2px solid #3F3F3F;}

article td{
	padding:5px 6px;	
text-align: left;}

article caption{
font-size: 12px;
padding-top: 12px;}


article img{
padding: 4px;
border-radius: 4px;
border: 1px solid #d6d6d6;
height:auto;
display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:30px;
	margin-bottom:30px;
	max-width:100%;
	}


/*Info Box Restriction RED*/
.infobox-restrict{
border-left:3px solid #D34349;	
background: #FEF5F6 url("../img/icon-restrict-16.png") no-repeat 7px 20px;
padding:15px 25px 15px 35px;
margin:10px 0;}

.infobox-restrict .notep1{
color:#D34349;
font-size:18px;}


/*Info Box Caution Yellow*/
.infobox-caution{
border-left:3px solid #D6A042;	
background: #FEFBF3 url("../img/icon-caution-16.png") no-repeat 7px 20px;
padding:15px 25px 15px 35px;
margin:10px 0;}
.infobox-caution .notep1{
color:#D6A042;
font-size:18px;}

/*Info Box Warning Yellow*/
.infobox-warn{
border-left:3px solid #D6A042;	
background: #FEFBF3 url("../img/icon-warning-16.png") no-repeat 7px 20px;
padding:15px 25px 15px 35px;
margin:10px 0;}
.infobox-warn .notep1{
color:#D6A042;
font-size:18px;}


/*Info Box Note BLUE*/
.infobox-note{
border-left:3px solid #1C59AA;	
background: #EFF6FE url("../img/icon-note-16.png") no-repeat 7px 20px;
background-repeat:no-repeat;
padding:15px 25px 15px 35px;
margin:10px 0;}
.infobox-note .notep1{
color:#1C59AA;
font-size:18px;}



/*Info Box Tip GREEN*/
.infobox-tip{
border-left:3px solid #218041;	
background: #EFFFF4 url("../img/icon-tip-16.png") no-repeat 7px 20px;
background-repeat:no-repeat;
padding:15px 25px 15px 35px;
margin:10px 0;}
.infobox-tip .notep1{
color:#218041;
font-size:18px;}

/*Info Box Important PURPLE*/
.infobox-important{
border-left:3px solid #7c2482;	
background: #fdf5ff url("../img/icon-important-16.png") no-repeat 7px 20px;
background-repeat:no-repeat;
padding:15px 25px 15px 35px;
margin:10px 0;}
.infobox-important .notep1{
color:#7c2482;
font-size:18px;}





/*end UX styles*/



 

a img {
  border-style: none;
}


caption {
  text-align: center;
  font-weight: bold;
  width: auto;
}




table.table-border {
  border-collapse: collapse;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
table.table-border th {
  padding: 0.5ex 0.25em;
  color: black;
  background-color: #f7f7ea;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
table.table-border td {
  padding: 0.5ex 0.25em;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

span.gui-object, span.gui-object-action {
  font-weight: bold;
}

span.gui-object-title { }

p.horizontal-rule {
  width: 100%;
  border: solid #cc9;
  border-width: 0px 0px 1px 0px;
  margin-bottom: 4ex;
}

div.zz-skip-header {
  display: none;
}

td.zz-nav-header-cell {
  text-align: left;
  font-size: 95%;
  width: 99%;
  color: black;
  background: inherit;
  font-weight: normal;
  vertical-align: top;
  margin-top: 0ex;
  padding-top: 0ex;
}

div.zz-skip-header {
  display: none;
}


a.zz-nav-button-link {
  font-size: 90%;
}

div.zz-nav-footer-menu {
  width: 100%;
  text-align: center;
  margin-top: 2ex;
  margin-bottom: 4ex;
}

p.zz-legal-notice, a.zz-legal-notice-link {
  font-size: 85%;
  /* display: none; */  /* Uncomment to hide legal notice */
}
	
/*************************************/
/*  Begin DARB Formats               */
/*************************************/

dt,.subhead,.bold, .codeinlinebold, .syntaxinlinebold, .term, .glossterm, .seghead,
.glossaryterm, .keyword, .msg, .msgexplankw, .msgactionkw, .notep1,
.xreftitlebold {
  font-weight: bold;
}

.italic, .codeinlineitalic, .syntaxinlineitalic, .variable,
.xreftitleitalic {
  font-style: italic;
}

.bolditalic, .codeinlineboldital, .syntaxinlineboldital,
.titleinfigure, .titleinexample, .titleintable, .titleinequation,
.xreftitleboldital {
  font-weight: bold;
  font-style: italic;
}

.bridgehead, .titleinrefsubsect {
  font-weight: bold;
}

.subhead1 {
  display: block;
  font-size: 130%;
  font-weight: bold;
}

.subhead2 {
  display: block;
  font-size: 110%;
  font-weight: bold;
}

.subhead3 {
  display: block;
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.superscript {
  vertical-align: super;
}

.subscript {
  vertical-align: sub;
}

.listofeft {
  border: none;
}

.betadraft {
  color: #f00;
  background: inherit;
}

.betadraftsubtitle {
  text-align: center;
  font-weight: bold;
  color: #f00;
  background: inherit;
}

.comment {
  color: #080;
  background: inherit;
  font-weight: bold;
}

.copyrightlogo {
  text-align: center;
  font-size: 85%;
}

.tocsubheader {
  list-style-type: none;
}

table.icons td {
  padding-left: 6px;
  padding-right: 6px;
}

.l1ix dd, dd dl.l2ix, dd dl.l3ix {
  margin-top: 0ex;
  margin-bottom: 0ex;
}



p.notep1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

/*************************************/
/*  End DARB Formats                 */
/*************************************/
