/* CSS Document */

.fusiondoc {
	font-family: "Helvetica Neue", Helvetica, Arial, sas-serif;
}
article {
	padding: 5px;
}
article, article p, .fusiondoc p {
	line-height: 1.4;F
}
article hr, .fusiondoc hr {
	height: 1px;
	border: 0;
	background-color: #d6dfe6;
	color: #d6dfe6;
}
/* h1,h2,h3,h4,h5,h6 */

.chapter-number {
    color: #999999;
    display: inline;
    font-size: 48px;
    font-weight: 500 !important;
    line-height: 36px;
    margin-right: 15px;
}
article h1, .chapter_name, .fusiondoc h1 {
	font-size: 36px !important;
	font-weight: 500 !important;
	color: #000000 !important;
	display: inline;
	line-height: 1.2;
	margin: 15px 0 15px 0;
}
article h2, .fusiondoc h2 {
	font-size: 30px !important;
	font-weight: 500;
	color: #1D5AAB;
	line-height: 1.2;
	margin-bottom: 0.4em;
    /* margin-top: 1.1em;*/
    margin-top: 2.2em;
}
article h3, .fusiondoc h3 {
	font-size: 24px !important;
	font-weight: 500;
	line-height: 1.2;
	/*margin-bottom: 0.4em;*/
	margin-bottom: 0.6em;
    /*margin-top: 0.5em;*/
	margin-top: 1.2em;
}
article h4, .fusiondoc h4 {
	font-size: 18px !important;
	color: #1D5AAB;
	/*font-weight: bold;*/
	line-height: 1.2;
	/*margin-bottom: 0.4em;*/
	margin-bottom: 1em;
    margin-top: 0.3em;
}
article h5, .fusiondoc h5 {
	font-size: 16px;
	/*font-weight: bold;*/
	margin-bottom: 0.4em;
    margin-top: 0.3em;
}


.fusiondoc h5.relatedlinks {
	font-size: 1rem;
	font-style: italic;
	margin-bottom: 0.4em;
    margin-top: 0.3em;
}
.fusiondoc p.relatedlinks {	
    font-size: 1rem;
	font-style: italic;
	margin-bottom: 1.1em;
    margin-top: 0.3em;	
}

article h6, .fusiondoc h6 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0.4em;
    margin-top: 0.3em;
}
article h1 .title, .fusiondoc h1 .title, article h2 .title, .fusiondoc h2 .title, article h3 .title, .fusiondoc h3 .title, article h4 .title, .fusiondoc h4 .title, article h5 .title, .fusiondoc h5 .title, article h6 .title, .fusiondoc h6 .title {
	float: none !important;
}
/* LINKS */

	
.fusiondoc a, .fusiondoc a:link {
    color: #1D5AAB !important;
    line-height: inherit;
    text-decoration: none;
}

.fusiondoc a:active {
    color: #1D5AAB !important;
    text-decoration: none;
}
.fusiondoc a:hover {
    color: #1D5AAB !important;
    text-decoration: underline;
}
.fusiondoc a:visited {
    color: #1D5AAB !important;
    text-decoration: none;
}
}
/* alt font styles */

strong, b {
	font-weight: bold;
}
small {
	font-size: 12px;
}
sub, sup {
	font-size: 75%;
	color: #666;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
blockquote {
	margin: 15px 0 15px 40px !important;
	padding: 12px 0 12px 15px !important;
	border-left: 3px solid #ccc;
}
article caption, .fusiondoc caption {
	text-align: center;
	font-weight: bold;
	width: auto;
	padding-top: 12px;
	font-size: 12px;
}
/* switch to code mirror
<http://codemirror.net*/

code, samp, tt {
	font-family: "menlo", "monaco", "Courier New", Courier, mono, serif;
	font-size: 13px;
	color: #000;/*	margin-left: 3px; cannot have margin because they are inline
	margin-right: 5px;
overflow: auto;*/
}
pre {
	font-family: "menlo", "monaco", "Courier New", Courier, mono, serif;
	font-size: 13px;
	color: #222;
	line-height: 1.615;
	background-color: #F9F9FB;
	border: 1px solid #d9d9e2;
	padding: 10px;
	word-wrap: normal !important;
	white-space: pre !important;
	overflow: auto;
}

.fusiondoc p code
{
white-space: normal !important;

}
/* bullet list Styles */

p.chapterintro {
margin-top: 15px;
}


/*************************************/
/*  BEGIN LIST FORMATTING            */
/*************************************/

/* Lists on toc.htm should not have bullets, all chapters inhert from .fusiondoc class */
ul.contents
{
list-style-type: none !important; 
margin-top: 0px; 
margin-bottom: 1ex; 
/*margin-left:25px !important;*/
/*Edaraujo - Identing 50% more*/
margin-left:37.5px !important;
display: block;

}

.fusiondoc div > p + ol, .fusiondoc div > p + ul
{
/*Special condition to tighten up spacing between para and list */
margin-top:-10px;

}
.fusiondoc div > p.notep1 + ol, .fusiondoc div > p.notep1 + ul
{
/*Special condition to tighten up spacing between para and list */
margin-top:0px !important;

}

.fusiondoc td  p + ol, .fusiondoc td p + ul
{
/*Special condition to tighten up spacing between para and list */
margin-top:-5px;
/* margin-left: .125in !important;*/
 /*Edaraujo - Identing 50% more*/ 
 margin-left: .1875in !important;
}

.fusiondoc td ol  ol, .fusiondoc td ol ul, .fusiondoc td ul  ul, .fusiondoc td ul  ol
{
/*Special condition to tighten up spacing between para and list */
margin-top:0px;
margin-left:0 !important;
}

.fusiondoc div p.notep1 ~ p + ol, .fusiondoc div p.notep1 ~ p + ul
{
/*Don't use on notes - Special condition to tighten up spacing between para and list */
margin-top:0px !important;
margin-bottom:0px !important;
}

.fusiondoc ol
{
    list-style: decimal outside;    
	font-size: 14px !important;
	/*margin-left: .375in !important;*/
	/*Edaraujo - Identing 50% more, Francine changed to pixels*/
	/*margin-left: 36px !important;*/
	margin-left: 47px !important;
	/*This is to make list appear closer to p before. */
	 padding-top: 2px !important;
}

.fusiondoc ol ol
{
    list-style: lower-alpha outside;
    /*margin-left: .25in !important;*/
	/*Edaraujo - Identing 50% more* Francine changed to pixels */
	margin-left: 36px !important;
}

.fusiondoc ol ol ol
{
    list-style: lower-roman outside;
    /*margin-left: .25in !important;*/
	/*Edaraujo - Identing 50% more* Francine changed to pixels */
	margin-left: 36px !important;
}

.fusiondoc ul
{
    /*margin-left: .375in !important;*/
	/*Edaraujo - Identing 50% more* Francine changed to pixels */
	/* was set to ... margin-left: .5625in */
	margin-left: 43px !important;
    list-style: disc outside none;
	font-size: 14px !important;
	/*This is to make list appear closer to p before. */	
	padding-top: 2px !important;
}

.fusiondoc ol ul
{
    /*margin-left: .25in !important;*/
	/*Edaraujo - Identing 50% more Francine changed to pixels*/
	margin-left: 36px !important;
    
}

.fusiondoc ul ul
{
    /*margin-left: .25in !important;*/
	/*Edaraujo - Identing 50% more Francine changed to pixels*/
	margin-left: 36px !important;
    list-style: circle outside none;
}

.fusiondoc ul ul ul
{
    /*margin-left: .25in !important;*/
	/*Edaraujo - Identing 50% more Francine changed to pixels*/
	margin-left: 36px !important;
    list-style: square outside none;
}


.fusiondoc li, .fusiondoc li li, .fusiondoc li li li
{
    color: #1D5AAB !important;
		margin-top: 2px !important;
	margin-bottom: 2px !important;
	
}

.fusiondoc li p, .fusiondoc li div, .fusiondoc table li p /*reset list text color to default body color */
{
    color: #000000;
	/*margin-top: 6px !important;
	margin-bottom: 6px !important;*/
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	font-weight:normal;		
}

.fusiondoc li .infobox-important, .fusiondoc li .infobox-restrict, .fusiondoc li .infobox-caution, .fusiondoc li .infobox-warn, .fusiondoc li  .infobox-note, .fusiondoc li .infobox-tip,.fusiondoc li .infobox-
{   
	margin-top: -10px !important;
	margin-bottom: -10px !important;	
}

.fusiondoc li div /*reset list text color to default body color */
{
    color: #000000;
	/*margin-top: 10px !important;*/ /*add more spacing around notes in lists */
	/*margin-bottom: 10px !important;*/
	margin-top: 3px !important;
	margin-bottom: 3px !important;
	font-weight:normal;
}

.fusiondoc li img {
	margin-top:.95rem; /*add more spacing around notes in lists */

}

.fusiondoc  p.notep1 /*reset list text color to default body color */
{
   
	margin-top: 0 !important;
	
}

.fusiondoc ol, .fusiondoc ul
{
    padding-left: 0;
    /*margin-left: .375in !important;*/
	/*Edaraujo - Identing 50% more*/
	/*Edaraujo - Identing 50% more Francine changed to pixels*/
	/*margin-left: 36px !important;*/
	/*  was set to 	margin-left: .5625in */
    font-weight:bold;
	 padding-bottom: 0px !important;
	  padding-top: 0px !important;

}

.fusiondoc table li 
{
/*margin-left: .25in !important;*/
/*Edaraujo - Identing 50% more*/
margin-left: .325in !important;
		margin-top: 0 !important;
	margin-bottom: 0 !important;
	font-size:small;
}

/*.fusiondoc table li p
{
		margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding:0 !important;
}*/
.fusiondoc li table /*Give a little extra space for a table inside a list item */
{
    margin-top: .5em;
}

/***********************************/
/*  END LIST FORMATTING            */
/***********************************/

/***************************************/
/*  BEGIN TABLE FORMATTING             */
/***************************************/

/* New table styles */
.fusiondoc table
{
    border: none;
	/*font-size:small;*/
    border-bottom: 2pt solid #3F3F3F;
    border-collapse: collapse;
    width: 95%;
}

.fusiondoc table tr
{
    border: none;
    border-bottom: thin solid #3F3F3F;
    text-align: left;
    padding: 0;
}

.fusiondoc tr td
{
    vertical-align: top;
    text-align: left;
    border-bottom: thin solid #3F3F3F;  
    padding-left: .5em;
    padding-right: .5em;
    margin: 0;
}

.fusiondoc .header th, .fusiondoc th
{
    text-align: left;
    vertical-align: bottom;
    background-color: #666666;
    padding-left: 5pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	color: white !important;
 	font-weight: normal
/*	white-space: nowrap !important;*/
}

.fusiondoc th p, th *
{
    color: white !important;
    padding-left: .25em;
    padding-right: .25em;
/*	white-space: nowrap !important;*/
}

th.row, th.row p, th.row * 
{    
	background-color: inherit !important;    
	color: black !important;        
	font-weight: normal;        
	vertical-align: top;    
	text-align: left;        
	padding-left: .5em;    
	padding-right: .5em;    
	margin: 0;   
}

.fusiondoc td
{
    text-align: left;
    vertical-align: bottom;
    padding-left: 5pt;
	padding-top: 3pt;
	padding-bottom: 0pt;
	font-weight: normal
/*	white-space: nowrap !important;*/
}
.fusiondoc td p
{
	font-size:small;
	margin-top: 0pt !important;
	margin-bottom: 5pt !important;
	/* line-height: 1.6; */
}
/*remove extra padding from notes in tables */
.fusiondoc td  div p {
    margin: 0pt;
    padding: 0pt;
}

.fusiondoc td  div ol, .fusiondoc td  div ol {
   margin-top: 0pt !important;
}


/*Lists in tables should not indent as far in */
.fusiondoc table ul, .fusiondoc table ol 
{
    /*margin-left: .125in !important;*/
	/*Edaraujo - Identing 50% more*/
	margin-left: .1875in !important;
}



/***************************************/
/*  END   TABLE FORMATTING             */
/***************************************/
dl {
	padding-left: 10px;
}
dl.glossary dt {
	font-weight: 500;
	color: #1D5AAB;
	
}


article .img, .fusiondoc .img {
	margin-top: 30px;
	margin-bottom: 30px;
	max-width: 100%;
}
/*Info Boxs */ 
.infobox-restrict, .infobox-caution, .infobox-warn, .infobox-note, .infobox-tip, .infobox-important, .infobox- {
	padding: 5px 10px;
	/*margin-bottom: 1.25rem;
	margin-bottom: 0.07rem;*/
	line-height: 1.4;
	margin-bottom: 0.03rem;
	background-repeat: no-repeat;
}

.fusiondoc * + .infobox-note,.fusiondoc * + .infobox-caution,.fusiondoc * + .infobox-restrict,.fusiondoc * + .infobox-warn,.fusiondoc * + .infobox-tip,.fusiondoc * + .infobox-important,.fusiondoc * + .infobox-
{
/*Special condition to tighten up spacing between any element and infobox */
margin-top:-20px;
}
.fusiondoc td  p + .infobox-note, .fusiondoc td  p + .infobox-, .fusiondoc td  p + .infobox-caution, .fusiondoc td  p + .infobox-restrict, .fusiondoc td  p + .infobox-warn, .fusiondoc td  p + .infobox-tip, .fusiondoc td  p + .infobox-important
{
	margin-top: 1px;
}

.infobox-restrict p, .infobox-caution p, .infobox-warn p, .infobox-note p, .infobox-tip p, .infobox-important  p, .infobox- p{
	/*margin-bottom: 0.15rem !important;*/
	margin-bottom: 0.07rem !important;
}

div[class="infobox-restrict"]:last-child {
    margin-bottom: -5px;
}
div[class="infobox-caution"]:last-child {
    margin-bottom: -5px;
}
div[class="infobox-warn"]:last-child {
    margin-bottom: -5px;
}
div[class="infobox-note"]:last-child {
    margin-bottom: -5px;
}
div[class="infobox-tip"]:last-child {
    margin-bottom: -5px;
}
div[class="infobox-important"]:last-child {
    margin-bottom: -5px;
}
div[class="infobox-"]:last-child {
    margin-bottom: -5px;
}
.notep1 {
	/*font-size: 18px;*/
	font-size: 15px;
	font-weight:bold !important;
}

li .notep1 {
	font-size: 15px;
	font-weight:bold !important;
}
/*Edaraujo - Set small font size for notes inside tables*/
td .infobox-restrict,td .infobox-caution,td .infobox-warn,td .infobox-note,td .infobox-tip,td .infobox-important,td .infobox- {
font-size:small !important;
}

td .notep1 {
	font-size:small;
}

li div {
font-size: 14px !important;
}

/*Info Box Restriction RED*/
.infobox-restrict {
	/*border-left: 3px solid #D34349;
	background: #FEF5F6;*/

}
.infobox-restrict .notep1 , li .infobox-restrict .notep1 {
	color: #D34349 !important;
	/*font-size: 18px;*/
	/* font-size: 15px; */
}
/*Info Box Caution Yellow*/
.infobox-caution {
	/*border-left: 3px solid #D6A042;
	background: #FEFBF3;*/

}
.infobox-caution .notep1 , li .infobox-caution .notep1{
	color: #D6A042 !important;
}
/*Info Box Warning Yellow*/
.infobox-warn {
	/*border-left: 3px solid #D6A042;
	background: #FEFBF3;*/

}
.infobox-warn .notep1, li .infobox-warn .notep1 {
	color: #D6A042 !important;
}
/*Info Box Note BLUE*/
.infobox-note {
	/*border-left: 3px solid #1D5AAB;
	background: #EFF6FE;*/

}
.infobox-note .notep1, li .infobox-note .notep1,.infobox- .notep1, li .infobox- .notep1  {
	color: #1D5AAB !important;
}
/*Info Box Tip GREEN*/
.infobox-tip {
	/*border-left: 3px solid #218041;
	background: #EFFFF4;*/

}
.infobox-tip .notep1, li .infobox-tip .notep1 {
	color: #218041 !important;
}
/*Info Box Important PURPLE*/
.infobox-important {
	/*border-left: 3px solid #7c2482;
	background: #fdf5ff;*/

}
.infobox-important .notep1, li .infobox-important .notep1 {
	color: #7c2482 !important;
}
/*end UX styles*/


/* //image styles*/
a img {
	border-style: none;
}
/* images are inherting from foundation.css so some appear inline.  */
.fusiondoc img
{
  display: block;  
  margin-bottom: 30px;
}
/* misc */
span.gui-object, span.gui-object-action {
	font-weight: bold;
}
span.gui-object-title {
}
p.horizontal-rule {
	width: 100%;
	border: solid #cc9;
	border-width: 0px 0px 1px 0px;
	margin-bottom: 4ex;
}

/*************************************/
/*  Begin DARB Formats               */
/*************************************/

dt, .subhead, .bold, .codeinlinebold, .syntaxinlinebold, .term, .glossterm, .seghead, .glossaryterm, .keyword, .msg, .msgexplankw, .msgactionkw, .notep1, .xreftitlebold {
	font-weight: bold;
}
.italic, .codeinlineitalic, .syntaxinlineitalic, .variable, .xreftitleitalic {
	font-style: italic;
}
.bolditalic, .codeinlineboldital, .syntaxinlineboldital, .titleinfigure, .titleinexample, .titleintable, .titleinequation, .xreftitleboldital {
	font-weight: bold;
	font-style: italic;
}
.bridgehead, .titleinrefsubsect {
	font-weight: bold;
}
.subhead1 {
	display: block;
	font-size: 130%;
	font-weight: bold;
	padding-top:10px;
}
.subhead2 {
	display: block;
	font-size: 110%;
	font-weight: bold;
	padding-top:10px;
}
.subhead3 {
	display: block;
	font-weight: bold;
	padding-top:10px;
}
.underline {
	text-decoration: underline;
}
.superscript {
	vertical-align: super;
}
.subscript {
	vertical-align: sub;
}
.listofeft {
	border: none;
}
.betadraft {
	color: #f00;
	background: inherit;
}
.betadraftsubtitle {
	text-align: center;
	font-weight: bold;
	color: #f00;
	background: inherit;
}
.comment {
	color: #080;
	background: inherit;
	font-weight: bold;
}
.copyrightlogo {
	text-align: center;
	font-size: 85%;
}
.tocsubheader {
	list-style-type: none;
}
table.icons td {
	padding-left: 6px;
	padding-right: 6px;
}
.l1ix dd, dd dl.l2ix, dd dl.l3ix {
	margin-top: 0ex;
	margin-bottom: 0ex;
}
p.notep1 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.columnName, .parameterName, .refparams, .functionName {
	font-weight: bold;
	font-size:105%;
}
.parameterRules
{
    /*margin-left: .25in;   */
	/*Edaraujo - Identing 50% more Francine changed to pixels*/
	margin-left: 36px !important;
}
.uicontrol {
	font-weight: bold;	
	font-size: 95%;
}
.r_parameter_group_title {
	font-weight: bold;
	font-size:125%;
}
/* video */

.video-box {
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 30px;
	height: 0;
	overflow: hidden;  
}
.video-box iframe, .video-box object, .video-box embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

 /* If there is code element inside a pre element, remove the border or it renders double borders */ 
 
 pre code
 {
     border:none !important;
	 padding:0 !important;
 }
 
 
/*****************************/
/*  Reference Content         */
/*****************************/

 /*Report Headings spec, bold and indented */
h5.headingName, .secondaryStructure h3, .secondaryStructure h4, .secondaryStructure h5, .secondaryStructure h6
{
font-weight: bold;
}

div.reportHeading
{
margin-left: 36px !important;
}


dl.reference dt {
	font-weight: bold;
	color: black;
	
}

dl.reference
{
	padding-left: 0 !important;
}

/*****************************/
/*  Responsive               */
/*****************************/
.fa_videowrapper
{
/*border: 2px solid #00b8ed;
padding:5px;
padding-top: 2.2em;*/
padding-top: 0;

}

.video-container{
    
	display: table;  
    width: 100%;
			
	
}

.videoTitleH3 {
	font-size: 24px !important;
	font-weight: 500;
	line-height: 1.2;
	margin-bottom: 0.4em;
	/*margin-bottom: 0.6em;*/
    /*margin-top: 0.5em;*/
	margin-top: 1.2em;
}

/*.videoTitle h2, .videoTitle h3
{
margin-top: .4em !important;
margin-bottom: .2em !important;
}
*/

/*Edaraujo - Set vertical margins for h2/h3 video title headers to match the standard h2/h3 margins*/
.videoTitle h2
{
margin-top: 2.2em !important;
margin-bottom: 0.4em !important;
}
.videoTitle h3
{
margin-top: 1.2em !important;
margin-bottom: 0.6em !important;
}


.fa_thumbnail img {
   /* height: auto !important; 
    width: auto !important;	*/
    display: table-cell;	
    width: 20px;
    height: 20px;
	/*margin-bottom: -12px !important;*/
	margin-bottom: 0px !important;

}
.fa_thumbnail{
  display: table-cell;
  text-align: center;
  /*vertical-align: middle; */
  vertical-align: top;
  padding:3px;
  padding-left:28px;
  /*
  width: 9%;
  height: 25%;
  */
  width: 6%;
  height: 100%; 
}
.helpicon_img
{
	display:inline !important;
	padding-right:5px;
    margin-top: 0px !important;
	margin-bottom: 0px !important;
	vertical-align: middle; 
}
.fa_video_description {
  /*padding: 3px;
  padding-left: 36px;  
  display: table-cell;
  vertical-align: top; 
  width: 100%;
  height: 100%;
  text-align: left;*/
  line-height: 1.4;
 }
/*
.fa_video_description p
{
margin-bottom:0 !important;
margin-top:0 ! important;
}*/

.fa_video_Watch {
  padding:3px;
  padding-left:0px;
  display: table-cell;
  vertical-align: top; 
  width: 94%;
  /*height: 25%;*/
  height: 100%;
  text-align: left;
  margin-bottom: 0;
 }

@media only screen and (min-width: 480px) {
article {
	padding: 10px;
}
.infobox-restrict {
	/*background: #FEF5F6 url("../img/icon-restrict-16.png") no-repeat 7px 20px;*/
	background: url("../img/icon-restrict-16.png") no-repeat 24px 18px;
}
.infobox-caution {
	/*background: #FEFBF3 url("../img/icon-caution-16.png") no-repeat 7px 20px;*/
	background: url("../img/icon-caution-16.png") no-repeat 24px 18px;
}
.infobox-warn {
	/*background: #FEFBF3 url("../img/icon-warning-16.png") no-repeat 7px 20px;*/
	background: url("../img/icon-warning-16.png") no-repeat 24px 18px;
}
.infobox-note {
	/*background: #EFF6FE url("../img/icon-note-16.png") no-repeat 7px 20px;*/
	background: url("../img/icon-note-16.png") no-repeat 24px 18px;
}
.infobox- {
	/*background: #EFF6FE url("../img/icon-note-16.png") no-repeat 7px 20px;*/
	background: url("../img/icon-note-16.png") no-repeat 24px 18px;
}
.infobox-tip {
	/*background: #EFFFF4 url("../img/icon-tip-16.png") no-repeat 7px 20px;*/
	background: url("../img/icon-tip-16.png") no-repeat 24px 18px;
}
.infobox-important {
	/*background: #fdf5ff url("../img/icon-important-16.png") no-repeat 7px 20px;*/
	background: url("../img/icon-important-16.png") no-repeat 24px 18px;
}


.infobox-restrict, .infobox-caution, .infobox-warn, .infobox-note, .infobox-tip, .infobox-important, .infobox- {
	padding: 15px 25px 15px 50px;
	
}
.simpletable-margin {
	/* padding-left: 24px;  8*/
	padding-left: 36px;
}
}
 @media only screen and (min-width: 768px) {
article {
	padding: 20px;
}


dl {
	padding-left: 40px;
}
}
 @media only screen and (min-width: 1140px) {
article {
	padding: 40px;
}
}
*[class*="codeph"] {
	font-family:Courier New, Courier, mono;
}
/* Version 04.20.2016 Edaraujo Preface Updates*/