/* CSS Document 
Copyright 2014-2016, Oracle and/or its affiliates. All rights reserved.
Author: Jordan Douglas 
Template: v2
Version: 2016.June.14
*/

#homegrid a{
	display:block;}
	
.home-box {
	width: 96%;
	/*min-width: 245px;*/
	float: left;
	display: block;
	position: relative;
	min-height: 120px;
	overflow: hidden;
	cursor: pointer;
}
.home-box a:hover, .home-box h2 a:hover {
	text-decoration: none;
}
.home-box h2 {
	position: relative;
	font-size: 19px;
	font-weight: bold;
	/*text-transform:uppercase;*/
	color: #4c4c4c;
	display:block;
	line-height: 1.3em;
	margin: 5px 15px;
	padding-left: 90px;
}
.home-box .description {
	position: relative;
	font-size: 15px;
	font-weight: normal;
	width: auto;
	/* text-transform: uppercase; */
	color: #666;
	line-height: 19px;
	margin: 5px 15px;
padding-left: 90px;
}
.left50-home {
	float: left;
	width: 96%;
	display: block;
}
#home-left{
	float: left;
	width: 96%;
	display: none;
}
 #home-right {
	float: left;
	width: 96%;
	display: block;
}

/*product icons*/	

#hm-cloud, #hm-application, #hm-middleware, #hm-database, 
#hm-bigdata, #hm-enterprise, #hm-engineered, #hm-java, 
#hm-hardware,#hm-server,#hm-network, #hm-virtualization, 
#hm-storage, #hm-operating, 
#hm-ind {
	border-bottom: 1px solid #e4ebf0;
	padding: 5px;
}

/*hover boxs*/

/*New Row*/
#hm-cloud:hover, #hm-cloud:active  {
	background-color: #e4c8df;
	text-decoration: none;
}
#hm-application:hover, #hm-application:active {
	background-color: #c5e2f6;
	text-decoration: none;
}
#hm-middleware:hover, #hm-middleware:active {
	background-color: #f6ccc2;
	text-decoration: none;
}
#hm-database:hover, #hm-database:active {
	background-color: #e7eecd;
	text-decoration: none;
}


/*New Row*/
#hm-bigdata:hover, #hm-bigdata:active {
	background-color: #f6ced2;
	text-decoration: none;
}
#hm-enterprise:hover, #hm-enterprise:active {
	background-color: #fbe9c5;
	text-decoration: none;
}
#hm-engineered:hover, #hm-engineered:active {
	background-color: #c7e7e9;
	text-decoration: none;
}
#hm-java:hover, #hm-java:active {
	background-color: #d5e1e9;
	text-decoration: none;
}


/*New Row*/
#hm-hardware:hover, #hm-hardware:active {
	background-color: #c9e3ca;
	text-decoration: none;
}
#hm-server:hover, #hm-server:active {/*hardware changed to server 6/16*/
	background-color: #c9e3ca;
	text-decoration: none;
}
#hm-network:hover, #hm-network:active {/*adding networking 6/16*/
	background-color: #f8e1ed;
	text-decoration: none;
}
#hm-virtualization:hover, #hm-virtualization:active {
	background-color: #c6e8f5;
	text-decoration: none;
}
#hm-storage:hover, #hm-storage:active {
	background-color: #efcddf;
	text-decoration: none;
}

/*New Row*/
#hm-operating:hover, #hm-operating:active {
	background-color: #fae2c3;
	text-decoration: none;
}
#hm-ind:hover, #hm-ind:active {
	background-color: #c5c3df;
	text-decoration: none;
}




#helpfulhome, #helpfulhome a, #helpfulhome label {
	background-color: #5D6B78;/*#eef1f4;*/
	font-weight: bold;/*color:#fff;*/
	color: #fff;
}
#helphome {
	width: auto;
}
#helphome a:hover {
	text-decoration: none;
}


/*New Row*/
#img-cloud {
	background: url(../img/4-cloud.png) no-repeat;
	background-position: -70px -45px;
}
#img-application {
	background: url(../img/5-applications.png) no-repeat;
	background-position: -70px -43px;
}
#img-middleware {
	background: url(../img/3-middleware.png) no-repeat;
	background-position: -68px -42px;
}
#img-database {
	background: url(../img/2-database.png) no-repeat;
	background-position: -68px -42px;
}


/*New Row*/
#img-bigdata {
	background: url(../img/12-bigdata.png) no-repeat;
	background-position: -69px -45px;
}
#img-enterprise {
	background: url(../img/6-enterprise.png) no-repeat;
	background-position: -70px -45px;
}
#img-engineered {
	background: url(../img/7-engineeredsys.png) no-repeat;
	background-position: -71px -44px;
}
#img-java {
	background: url(../img/1-java.png) no-repeat;
	background-position: -70px -45px;
}


/*New Row*/
#img-hardware {
	background: url(../img/8-hardware.png) no-repeat;
	background-position: -69px -45px;
}
#img-server {
	background: url(../img/8-hardware.png) no-repeat;
	background-position: -69px -45px;
}
#img-network {
	background: url(../img/12-networking.png) no-repeat;
	background-position: -72px -42px;
}
#img-virtualization {
	background: url(../img/10-virtualization.png) no-repeat;
	background-position: -68px -44px;
}
#img-storage {
	background: url(../img/11-storage.png) no-repeat;
	background-position: -69px -42px;
}
#img-operating {
	background: url(../img/9-operatingsystems.png) no-repeat;
	background-position: -70px -43px;
}

/*New Row*/
#img-ind {
	background: url(../img/13-industries.png) no-repeat;
	background-position: -69px -42px;
}











.homeicon {
width: 95px;
height:87px;
position: absolute;
top: 15px;
left: 0px;
border-radius: 7px;
}





 @media only screen and (min-width: 480px) {
#helphome {
	/*max-width: 985px;*/
	margin-right: 30px;
}
#home-left{display:block;}
.home-box {
	width: 48%;
	margin-right: 0;
	height: 290px;
}
.home-box h2 {
	position: relative;
	top: 206px;
	font-size: 17px;
	font-weight: bold;
	/*text-transform:uppercase;*/
	color: #4c4c4c;
	line-height: 1.3em;
	margin: 5px 15px;
	padding-left:0;
}
.home-box .description {
	top: 202px;
	font-size: 13px;
	padding-left:0;
}
.homeicon {
	/*width: 223px;*/
	width: 100%;
	height: 209px;
	position: absolute;
	top: 15px;/*left: 3px;*/
}
#img-java, #img-database, #img-middleware,
#img-cloud, #img-application, #img-enterprise, #img-engineered,
#img-hardware, #img-server, #img-network, #img-operating,
#img-virtualization, #img-storage, #img-bigdata, #img-ind{
	background-position: center;
}


#hm-cloud, #hm-application, #hm-middleware, 
#hm-database, #hm-bigdata, #hm-enterprise, #hm-engineered, 
#hm-java, #hm-hardware, #hm-server, #hm-network, 
#hm-virtualization, #hm-storage, #hm-operating, #hm-ind  {
	margin-left: -1px;
	margin-top: -1px;
	border: 1px solid #e4ebf0;
	padding: 0;
}

 }

@media only screen and (min-width: 768px){
.home-box {
 width: 33%;
 margin-right: 0;
}
.left50-home {
 width: 48%;
 margin-right: 2%;
 max-width: 460px;
}
#home-left {
float: left;
width: 45%;
margin-right: 4%;
padding-left: 6px;
}
 #home-right {
/* float:left;*/
 width: 49%;
 float: right;
margin-right: 1%;
}
#helphome {
width: 99%;
padding: 3px;
margin-right:0;
}
}

@media only screen and (min-width: 1140px) {
#helphome {
	margin-right: 0;
	width:100%;
}
.left50-home {
	margin-right: 4%;
	width: 46%;
}
#home-left{
	width: 46%;
	margin-right: 4%;	padding-left:0;
}
 #home-right {
	 float:left;
	 margin-right:0;
	 width:50%;}


.home-box {
	width: 247px;
}
}
