.sb_wrapper{
	margin:0;
	padding:0;
	width:372px;

}
input.sb_input{height:32px;}
.sb_wrapper input[type="text"],
ul.sb_dropdown{
	background-color:#fff;
	padding:6px 5px 6px 6px !important;
	text-shadow:1px 1px 1px #fff;
	/*width:200px;*/
	float:left;
	margin:3px 0px;
	border-right:none;
}
ul.sb_dropdown{
	position: absolute;
top: 32px;
	float:left;
	list-style:none;
	width:360px;
	padding:6px 5px;
	-moz-border-radius:0px 0px 5px 5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
}
ul.sb_dropdown li{
	line-height:32px;
	height:32px;
	float:left;
	width:50%;
}
ul.sb_dropdown li input[type="checkbox"]{
	float:left;
	margin:10px 4px 0 5px;
}
ul.sb_dropdown li.sb_filter{
	width:348px;
	border:1px solid #f9f9f9;
	clear:both;
	background: #ddd;
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#444;
	height:16px;
	line-height:16px;
	padding:5px;
	-moz-box-shadow:0px 0px 2px #777;
	-webkit-box-shadow:0px 0px 3px #555 inset;
	-box-shadow:0px 0px 3px #555 inset;

}
span.sb_up,
span.sb_down{
	position:absolute;
	top: 5px;
left: 1px;
width: 14px;
height: 30px;
	background-color:#f2f2f2;
	background-position:center center;
	background-repeat: no-repeat;
	z-index:10;
	/*border:1px solid #fff;
	-moz-box-shadow:1px 0px 1px #ddd;
	-webkit-box-shadow:1px 0px 1px #ddd;
	-box-shadow:1px 0px 1px #ddd;*/
	
}
span.sb_up{
	background-image:url(../img/up.png);
}
span.sb_down{
	background-image:url(../img/down.png);
}
input.sb_search{
	/*background:#f2f2f2 url(../img/search.png) no-repeat center center;*/
	background-color:#0572ce;
	background-image:url(../img/search-w.png);
	background-repeat:no-repeat;
	background-position:center center;
	width:50px;
	height:32px;
	float:left;
	margin:3px 0px;
	cursor:pointer;
	border-left:none;
	border-color:#0572ce;
	}
input.sb_search:hover{
	/*background-color:#fff;*/
}


@media only screen and (min-width: 768px) {
.sb_wrapper input[type="text"],
ul.sb_dropdown{
width:200px;

}