/* CSS Document */

body{
	font-family:Arial, Helvetica, sans-serif;
}

#IE8{
	display:block !important;
	position:absolute;
	top:0;
	z-index:2000;
	width:100%;
	border-bottom:1px solid #ccc;
	text-align:center;
	}
header{
	border-bottom: 1px solid #ccc;}
	
	.shadow{border:1px solid #efefef;}


header{margin:0;padding:0;
}
.w1024{
/*	border:1px solid blue;*/}

#content{
top:0;
padding-top:55px !important;
margin-top:0 !important;
min-width:1050px;

/*border:1px solid red;*/
margin-bottom:70px;
	}

.left-nav{
	margin-left:0;
}

/*get started*/
.gs-col-wrapper div{
	float:left;
	display:inline;
	width:240px;
	min-height:250px;}



#headernav{
	position:absolute;
	top:0;
	right:0;
	}
	
	#footernav{
/*	position:absolute;
	bottom:0;
	right:150px;
	z-index:500;*/
	}
	#footernav ul{
		z-index:1500;}
	
	
	
	
	
	
	
/* forms */

#searchcontent input, #searchcontent select, #searchcontent textarea {
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    line-height: 24px;
    padding: 0px 4px 0px 8px;
	padding-top:0 !important;
}


/*input, select, textarea {
	
margin:0;
padding:0;
height:auto;
	
}*/

	
	#searchField{
	padding:7px !important;
	height:auto;
	margin:0px;	
	width:150px;
				}
				
#searchField-book{
height:26px;
}
				
				
		#SEARCHBUTTON{
		}
			
					#SEARCHBUTTON-book{
						border-color:#0572ce;}
		
		
		.SELECTLRG{
			height:auto;
			}
		
		
		 #selectproduct{
			 line-height: normal;
			
			 height: auto;
			 
			/* padding: 0px 0px 3px 0px;*/

			 
			 /*padding:7px;*/
			 
			 
			 }
			 
			 #SEARCHBUTTON {
				 
				 border-color: #0572ce !important;}
				 
				 
				 
				 
				 
				 /*
				 bookpage*/
				 
			/*	 .bookformats{float:right;}
				 .moreinfo,.download{display:inline;}*/
				 
				 
				 
				/* Font Icon Fixes for IE8*/
				
				
				.App-home_24{
					width:24px;
					height:24px;
					background-image: url(../img/ie8-home.png);
					background-repeat:no-repeat;
					display:block;
					}