/* CSS Document */


.spanHighlight
{
font-weight:bold;
color: #1D5AAB;
}

p.shortdesc {
    margin-top: 15px;
}

/*Accessiblity */
table caption
{
display:none;
}

/*Require th on rows, so add semantics but don't behave like row heading */
th.row, th.row p, th.row *
{
text-align: left;
vertical-align: top !important;
background-color: white !important;
padding-left: 2pt;
padding-top: 2pt;
padding-bottom: 2pt;
color: black !important;
font-weight: normal;
font-size: small !important;
word-wrap: break-word !important;
}

table.payloadTable, table.relationships, table.attributesTable, table.securityTable
{ 
 table-layout: fixed;
  white-space: normal !important;
  font-size: small;
}

table.fileBasedImportTable, table.TableViewTable
{
 
 table-layout: fixed;
 width:auto !important;
   white-space: normal !important;
   font-size: small;
}
tr.fileBasedImportHeader th, tr.TableViewHeader th
{
 
white-space: normal !important;
}

td.fileBasedImportCell, td.TableViewCell
{
 
   word-wrap: break-word !important;
white-space: normal !important;
font-size: small;
}

tr.payloadHeader th, tr.relationshipHeader th, tr.attributesHeader th, tr.securityHeader th
{
 
white-space: normal !important;
}

td.payloadCell,  td.relationshipCell,  td.attributesCell, td.securityCell
{
 
   word-wrap: break-word !important;
white-space: normal !important;
font-size: small;
}


/* Version 05.11.2016 10:50 AM MST */