#SEARCHHOME input{
  color: #999;
}
li strong {
  font-weight:bold;
}
 .arrow {
    cursor:pointer;
    text-decoration: none;
}

.prodList {
   margin-bottom:40px;
   height: 220px;
   overflow: auto;
}

.ui-widget-content {
background: transparent !important;
}
.ui-autocomplete {
height: auto !important;
}
 
.arrow {
    cursor:pointer;
    text-decoration: none;
}

.prodList {
   height: 180px;
   overflow: auto;
}

.searchstart {
  	border-color: red !important;
    -webkit-box-shadow: 0 8px 6px -6px #FF0000 !important;
    -moz-box-shadow: 0 8px 6px -6px #FF0000 !important;
      box-shadow: 0 8px 6px -6px #FF0000 !important;
}

.searchstart:focus {
  	border-color: red !important;
    -webkit-box-shadow: 0 8px 6px -6px #FF0000 !important;
    -moz-box-shadow: 0 8px 6px -6px #FF0000 !important;
    box-shadow: 0 8px 6px -6px #FF0000 !important;
}
.focus {
    border: 2px solid #AA88FF;
    background-color: #FFEEAA;
    /*background: url('../../../images/wait.gif') top right no-repeat;*/
}
.ui-autocomplete li.ui-menu-item {
/*
  padding: 1px;  // needed to prevent the item sizes from changing on hover
  */
}

.ui-autocomplete a.ui-menu-item-alternate {
  background-color: White;  // alternate item bgcolor
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
  background: #F0F0F0;
  border: 0px;
}

.ui-autocomplete {
  max-height: 500px;
  /*height: 500px; */
  overflow-y: auto;
  overflow-x: hidden;
}

ui-autocomplete {
  width: 100px;
}

.ui-menu .ui-menu-item {
  background: white;
}

.summary {
    font-size: 13px;
    color: #A8A8A8;
}

.summary strong {
    font-size: 12px;
  color: #FFFFF;
}
.prodname {
	font-size: 13px;
  color: #0099FF;
}

.prodname-generic {
	font-size: 13px;
  color: #0099FF;
  margin-left: 5%;
}

.label {
	font-size: 13px;
}

.labeltransparent {
	font-size: 0.1px;
	color: transparent;
}