/* CSS Document */

/*----- Tabs -----*/
.tabs {
	width: 100%;
	display: inline-block;
	margin-top:30px;
}
/*----- Tab Links -----*/
.tab-links {
	margin: 0;
	padding: 0;
	top: 1px;
	position: relative;
}
/* Clearfix */
.tab-links:after {
	display: block;
	clear: both;
	content: '';
}
.tab-links li {
	margin-right: 5px;
	margin-left: 0;
	float: left;
	list-style: none;
}
.tab-links a {
	padding: 9px 18px;
	display: inline-block;
	border-top: 3px solid white;
	font-weight: bold;
	transition: all linear 0.15s;
}
.tab-links a:hover {
	/*  	border-left:1px solid #efefef;
		border-top:1px solid #efefef;
		border-right:1px solid #efefef;
		
		border-top-left-radius:3px;
		border-top-right-radius:3px;*/
	text-decoration: none;
}
.tab-links li.active a, .tab-links li.active a:hover {
	background: #fff;
	/*color: #4c4c4c;*/
	border-left: 1px solid #d6dfe6;
	border-top: 3px solid #1D5AAB;
	border-right: 1px solid #d6dfe6;/*border-top-left-radius: 3px;
	border-top-right-radius: 3px;*/
}
/*----- Content of Tabs -----*/
.tab-content {
	width: 100%;
min-height: 120px;
	background: #fff;
	border-top: 1px solid #d6dfe6;
}
.tab {
	display: none;
}
.tab.active {
	display: block;
}
/*----- Tab Links Home Colors -----*/

.tabs-home {
	width: 100%;
	display: inline-block;
	background-color: #e9ecee;
}
.tab-home {
	margin: 0;
	padding: 0;
	top: 1px;
	position: relative;
}
/* Clearfix */
.tab-home:after {
	display: block;
	clear: both;
	content: '';
}
.tab-home li {
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	text-align: center;
}
.tab-home a {
	padding: 9px 0;
	display: inline-block;
	font-weight: bold;
	transition: all linear 0.1s;/*border-top: 3px solid #e9ecee;
	background-color: #e9ecee;*/
}
.tab-home a:hover {
	text-decoration: none;
}
.tab-home li.active a, .tab-home li.active a:hover {
	background: #fff;
	color: #4c4c4c;
	border-left: 1px solid #d6dfe6;
	border-top: 3px solid #e95b54;
	border-right: 1px solid #d6dfe6;
	width: 100%;
}
