/* CSS Document */

.TITLES {
    display: none;
}
#SEARCH body {
    background-color: #FFFFFF;
    color: #222222;
    font-size: small;
}


/*#CONTENT {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 2ex auto auto;
    overflow: auto;
    padding-top: 7px;
    position: relative;
}
#CONTENT {
    margin: auto;
    width: 100%;
}*/
#ADVCONTENT {
    margin: auto;
    width: 95%;
}
#HEADER {
    margin: auto;
    text-align: center;
    width: 100%;
}
/*#FOOTER {
    border-top: 1px solid #DCDCDC;
    color: #454545;
    font-size: 11px;
    margin: auto;
    text-align: center;
    width: 100%;
}
#FOOTER .footerbar {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    display: block;
    margin: auto;
    text-align: left;
}*/
img.socialIcon {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/social_sprite.png");
    background-repeat: no-repeat;
    border: 0 none;
    height: 16px;
    width: 16px;
}
img.socialIcon.linkedin {
    background-position: -72px -20px;
}
img.socialIcon.rss {
    background-position: -88px -20px;
}
img.socialIcon.twitter {
    background-position: -104px -20px;
}
img.socialIcon.youtube {
    background-position: -120px -20px;
}
img.socialIcon.facebook {
    background-position: -136px -20px;
}
#SEARCH h1.TITLES {
    display: none;
}

#EXCBOOKS {
    display: none;
}
.FMWtitle {
    color: #666666;
    display: none;
    float: left;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right: 6px;
}
#SEARCH #WORD {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
    border-color: #CCCCCC -moz-use-text-color #CCCCCC #CCCCCC;
    border-image: none;
    border-right: 0 none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    color: #868686;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    height: 27px;
    line-height: 20px;
    padding: 0 22px 0 7px;
    width: 450px;
}
.hits {
    display: none;
}

#NAV h3 {
    color: #979797;
    float: left;
    font-family: 'Open Sans',arial,sans-serif;
    font-size: 13.5pt;
    font-weight: bold;
    line-height: 1em;
    margin: 1em 0;
    padding-left: 7%;
}
#RESULTS {
    clear: left;
    color: #222222;
    display: inline;
    float: right;
    margin-top: 0;
    text-align: left;
}

#HELP {
    float: right;
}
a#ADVANCEDSEARCH {
    font-size: 10px;
    line-height: 200%;
    padding-left: 4px;
    text-decoration: none;
    top: 2px;
    vertical-align: middle;
}
a#ADVANCEDSEARCH:hover {
    text-decoration: underline;
}
#SEARCHFORM {
    margin: 10px 5ex 10px 10px;
    padding: 7px;
    text-align: center;
    width: auto;
}
#NAV {
    background-color: #F7F7F7;
    border-right: 1px solid #E4E4E4;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
    float: left;
    margin: 0 10px 20px;
    padding-bottom: 2ex;
    text-align: left;
}
#NAV > h2 {
    font-size: 128%;
}
#NAV .filter {
    float: left;
    padding-left: 7%;
}
#NAV > .filter h2 {
    color: #979797;
    display: block;
    float: left;
    font-size: 13.2px;
    font-weight: bold;
    padding-bottom: 0;
    padding-left: 0;
    width: 100%;
}
#NAV > .filter ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 5px 5px;
}
#NAV > .filter ul li {
    float: left;
    font-size: 12px;
    line-height: 2em;
    list-style-type: none;
    margin-left: 0;
    width: 95%;
}
#NAV > .filter ul li label {
    padding-left: 10px;
}
ul.selected .cross {
    background: none repeat scroll 0 0 #EFEFEF;
    color: #CC0000;
    display: inline-block;
    font-weight: bold;
    padding-left: 5px;
}
#NAV #JOBS {
    border-bottom: 1px solid #CCCCCC;
}
#NAV #CATEGORY {
    border-bottom: 1px solid #CCCCCC;
}
#NAV > .filter ul li.selected {
    background: url("../img/search-arrow.png") no-repeat scroll right center #EEEEEE;
    border: 1px solid #DBDADA;
    display: block;
    font-weight: bold;
    margin-left: -3px;
    padding: 3px 10px 2px 3px;
    width: 95%;
}
#NAV > .filter ul li.selected a:hover {
    text-decoration: none !important;
}
.snippet {
    color: #707070;
    font-size: 13px;
    padding: 1.2ex;
}
.searchHide {
    float: right;
    padding: 0 2ex 2ex;
}
.searchBook {
    border: medium none;
}
.hideBook {
    border: medium none;
}
.hit {
    font-size: 13px;
    margin: 2ex 0.7ex 3ex;
    text-align: left;
}
#RESULTS .resultinfo {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 1ex;
    margin-left: 0.7ex;
    margin-right: 5ex;
    padding: 0 1% 1%;
}
.hit div.bgres {
    padding: 2ex;
}
.hit .outerbg .bookinfo h2 {
    display: inline;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 0.6ex;
    margin-top: 1ex;
    padding-top: 1ex;
}
.hit .outerbg .bookinfo {
    background-color: #FFFFFF;
    border-top: medium none;
    padding-bottom: 3ex;
    padding-left: 0.5ex;
    padding-top: 1ex;
}
.hit .outerbg {
    background-color: #FFFFFF;
    display: block;
}
#RESULTS .resultinfo h2 {
    display: inline;
    font-size: 100%;
    font-weight: normal;
}
#RESULTS .resultinfo ul.selected {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#SEARCHFORM a {
    color: #1F4F82;
}
#ADVCONTENT {
    display: block;
    margin-bottom: 0;
    margin-top: 2ex;
    overflow: visible;
    padding-bottom: 0;
    z-index: 1;
}

#ADVANCED_SEARCH_FORM label {
}
#ADVANCED_SEARCH_FORM {
    text-align: left;
}
#RESULTS .resultinfo ul.selected li {
    display: inline;
    margin: 0;
}
#RESULTS .resultinfo ul.selected li.pipe {
    margin-left: 0.4ex;
    margin-right: 0.4ex;
}
#RESULTS .resultinfo ul.selected li.highlight {
    background: none repeat scroll 0 0 #EFEFEF;
    display: inline-block;
    font-size: 13px;
    margin: 0.2em 0 0;
    padding: 2px 5px;
}
#RESULTS ul.paginator {
    display: block;
    list-style: none outside none;
    margin-left: -10px;
}
.resultinfo ul.paginator {
    margin: 0 !important;
    padding: 0 !important;
}
#RESULTS ul.paginator li a {
    padding: 0.4ex;
    text-decoration: none;
}
#RESULTS ul.paginator li {
    display: inline;
}
#RESULTS ul.paginator li b.selected {
    display: inline;
    font-weight: normal;
    padding-left: 0.6ex;
    padding-right: 0.6ex;
}
.hit > cite {
    display: none;
}
.booktitle > cite {
    font-style: normal;
    text-decoration: none;
}
.booktitle > cite:hover {
    text-decoration: underline;
}
#RESULTS span.topictitle {
    display: none;
}
#RESULTS a.topictitle {
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 1ex 1ex 0;
    text-decoration: none;
}
#RESULTS a.topictitle:hover {
    text-decoration: underline;
}
#RESULTS .tools {
    display: none;
}
#RESULTS .tools li {
    display: inline;
    padding-right: 0.1em;
}
#RESULTS .tools .hide:before, .tools .contents:before, .tools .pdf:before {
    content: "•";
}
#RESULTS .tools a {
    text-decoration: none;
}
form.jqtransformdone label {
    color: #666666;
    display: block;
    float: none;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    position: relative;
    vertical-align: middle;
}
.jqTransformSelectWrapper {
    display: inline-block;
    float: none;
    margin-right: -6px !important;
    top: 1px;
}
.jqTransformSelectWrapper div {
    text-align: left;
    vertical-align: bottom;
}
.jqTransformSelectWrapper div span {
    cursor: pointer;
    display: inline;
    padding: 4px 0 0 5px;
    position: relative;
    text-align: left;
    top: 2px;
}
.jqTransformSelectWrapper ul {
    text-align: left;
}
.jqTransformSelectWrapper a.jqTransformSelectOpen {
    display: inline-block;
    height: 3.6ex;
    text-align: center;
}
html:not([ie8andbelow]) .jqTransformSelectWrapper a.jqTransformSelectOpen, html:not([ie8andabove]) .jqTransformSelectWrapper a.jqTransformSelectOpen {
    height: 3.4ex;
}
div.text_clear_button {
    background: url("../img/clear_cross.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 11px;
    margin: 2px 0 0;
    padding: 0;
    position: absolute;
    vertical-align: middle;
    width: 11px;
    z-index: 2;
}
div.form {
    background: none repeat scroll 0 0 #EEEEEE;
    margin: 10px;
    padding: 20px;
}

#SEARCH #FOOTER {
    clear: both;
    display: block;
}
.footerbar .wrapper {
    line-height: 1.7em;
    padding-left: 0;
    padding-top: 0.5ex;
}

#HEADER > .wrapper {
    padding-left: 10px;
}
#ADVCONTENT.wrapper {
    margin-top: 8px;
    padding-left: 0;
}
#SEARCH #FOOTER .footerbar a {
    color: #09569D;
}
.footerbar span {
    display: block;
    line-height: 2em;
}
label.hidden {
    display: inline;
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute !important;
    top: -500px;
    width: 1px;
}
.floatRight {
    clear: both;
    float: right;
    margin-top: -3ex;
}
.floatRight ul {
    clear: both;
    float: right;
    margin: 0;
    text-align: right;
    width: 200px;
}
.floatRight ul li {
    display: inline;
    list-style: none outside none;
    margin: 0;
}
.email a {
    background-image: url("../img/icn_email.gif");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    width: 86px;
}
.allbooks a {
    background-image: url("../img/icn_allbooks.gif");
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    width: 83px;
}
.blockSpan {
    display: inline;
    padding-bottom: 0;
}
.boldSpan {
    display: block;
    margin-bottom: 2px;
    margin-top: 1%;
    padding-top: 2px;
}
#ADVANCED_SEARCH_FORM p {
    margin: 8px 0 0 24px;
}
#ADVANCED_SEARCH_FORM p#SEARCHTXT {
    margin-bottom: 0;
}
#ADVANCED_SEARCH_FORM p#RESULTSPAGE {
    margin-top: 25px;
}
#ADVANCED_SEARCH_FORM p#SEARCHFILTER {
    border-bottom: 1px solid #EFEFEF;
    margin-top: 5px;
    padding-bottom: 30px;
}
#ADVANCED_SEARCH_FORM p#SEARCHNOTFILTER {
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 30px;
}
#ADVANCED_SEARCH_FORM p#SUBADV {
    margin-bottom: 30px;
    padding-left: 4px;
    padding-top: 4px;
}
#TITLESEARCH {
    display: none;
}
div.plain {
    bottom: 0;
    margin: auto;
    position: fixed;
}
#SEARCHFILTER br {
    line-height: 1.55em;
}
input[type="checkbox"] {
    background-color: #FFFFFF;
}
input[type="checkbox"] + label {
    color: #979797;
}
input[type="checkbox"]:checked + label {
    color: #000000;
}


#productName {
    color: #454545;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-top: 6px;
    padding-bottom: 4px;
    padding-right: 3px;
    white-space: nowrap;
}
input[type="submit"]::-moz-focus-inner {
    margin: -1px;
    padding: 0;
}
#logocover {
    background: url("../img/oracle-red-s.png") no-repeat scroll 0 6px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 23px;
    width: 120px;
}
#navBar {
    display: inline-block;
    float: right;
    height: 27px;
    margin-bottom: 3px;
    margin-top: 4px;
    position: relative;
    right: 5px;
}
#RESULTS #resultscont {
    background-color: #F7F7F7;
    border-bottom: 1px solid #CCCCCC;
    color: #979797;
    margin: 2ex 5ex 1ex 0.7ex;
    padding: 1%;
}
#resultscont .searchterm {
    font-weight: bold;
}
#navBar ul {
    margin: 0;
    padding: 0;
}
#navBar ul li {
    float: left;
    list-style: none outside none;
}

#navBar ul li:first-child a {
    border-left: 1px solid #C4C5C7;
}
#navBar ul li a {
    background-position: 12px 6px;
    background-repeat: no-repeat;
    border-right: 1px solid #D6DFE6;
    color: #222222;
    display: inline-block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    margin: 0;
    padding: 5px 5px 3px 38px;
}
#navBar ul li a:active, #navBar ul li a.sel {
    background-color: #0572CE;
    color: #FFFFFF;
    filter: none;
    text-shadow: none;
}
#navBar ul li:first-child a {
    border-left: 1px solid #C4C5C7;
}
#navBar ul li:last-child a {
}
#navBar ul li a:hover, #navBar ul li a#apps:hover {
    background-color: #EFEFF1;
    text-decoration: none;
}
#navBar a > span {
    padding: 0 4px 0 0;
}
#navBar a > span {
    display: none;
}
#navBar.io span {
    display: none;
}
.menu1 {
    background-image: url("../img/icn-home.png");
}
.menu2 {
    background-image: url("../img/icn-new.png");
}
.menu3 {
    background-image: url("../img/icn-allbooks.png");
}
.menu1:active, .menu1.sel {
    background-image: url("../img/icn-home-over.png");
}
.menu2:active, .menu1.sel {
    background-image: url("../img/icn-new-over.png");
}
.menu3:active, .menu1.sel {
    background-image: url("../img/icn-allbooks-over.png");
}
#navcontainer {
    max-width: 500px;
}
#navcontainer {
    clear: both;
    float: right;
    position: relative;
    top: -1px;
    width: 100%;
}
.clearfloat {
    clear: both;
    font-size: 1px;
    height: 0;
    line-height: 0;
    overflow: auto;
}
.header-container {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    clear: both;
}
h1.pagetitle {
    color: #333333;
    font-size: 2em;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 32px;
}
.pagetitle {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #FFFFFF 4%, #F4F4F4 88%, #E8E8E8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #CCCCCC;
    border-radius: 3px;
    clear: both;
    margin-bottom: 15px;
    padding: 7px 1%;
    width: 96%;
}
#ADVCONTENT h1.pagetitle {
    width: auto;
}
#HEADER {
    background-color: #F7F7F7;
}
#HEADER {
    border-bottom: 1px solid #CCCCCC;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    clear: both;
}
/*a:link {
    color: #109DFF;
    text-decoration: none;
}
a:visited {
    color: #109DFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}*/

#SUBMIT {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/u01-u06-f01-bg-sprite.png") no-repeat scroll -596px -36px rgba(0, 0, 0, 0);
    border-color: #CCCCCC #CCCCCC #CCCCCC -moz-use-text-color;
    border-image: none;
    border-left: 0 none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    cursor: pointer;
    height: 35px;
    margin-left: -5px;
    right: 3px;
    text-indent: -33333em;
    text-transform: uppercase;
    top: 3px;
    vertical-align: bottom;
    width: 25px;
    z-index: 2;
}
#ADVSUBMIT {
    cursor: pointer;
    font-size: 100%;
    margin: -1px 0 -1px -4px !important;
    padding: 2px 2px 15px;
    vertical-align: middle;
    width: 120px;
}
input, textarea {
    background-color: #FCFDFE;
    border-color: #A5A5A5;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-family: sans-serif;
    font-size: 100%;
    line-height: normal;
    margin: 0;
    padding: 3px !important;
    vertical-align: middle;
}

#SEARCHFILTER > input {
    width: 20px;
}
.footerbar.wrapper > div {
    padding-left: 1%;
    padding-top: 2px;
}
.print {
    float: right;
    font-size: 13px;
    line-height: 1.4em;
    margin-bottom: 4px;
    padding-left: 20px;
    padding-right: 5px;
}
@media only screen and (min-width: 480px) {
#NAV {
    float: left;
    width: 28.8%;
}
#RESULTS {
    right: 10px;
    width: 64%;
}
.wrapper {
    margin: auto;
    width: 90%;
}
#ADVCONTENT.wrapper {
    margin-top: 8px;
}
#CONTENT {
    margin: auto;
    width: 100%;
}
#FOOTER {
    margin: auto;
    width: 100%;
}
#ADVCONTENT {
    margin: auto;
    width: 90%;
}
.breadcrumbs {
    margin: auto;
    width: 90%;
}
.pagetitle {
    margin: auto;
}
#navBar a > span {
    display: inline-block;
}
#navBar.io span {
    display: inline-block;
}
#navBar {
    margin-top: 3px;
}
#RESULTS .resultinfo {
    margin-left: 0;
}
.hit {
    margin: 2ex 5ex 3ex 0;
}
#RESULTS .resultinfo ul.selected li {
    margin: 0;
}
#RESULTS .resultinfo ul.selected li.highlight {
    margin: 0;
}
.hit .outerbg .bookinfo {
    margin-left: 10%;
}
}
@media only screen and (min-width: 768px) {
#NAV {
    display: inline-block;
    float: left;
    margin-right: 0;
    width: 20.6%;
}
#RESULTS {
    right: 10px;
    width: 75%;
}
#logocover {
    background: url("../img/oraclereg.png") no-repeat scroll 0 -10px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 50px;
    width: 180px;
}
#productName {
    color: #454545;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 8px;
    padding-left: 5px;
    white-space: nowrap;
}
.hit {
    font-size: 13px;
    margin-bottom: 3ex;
    margin-left: 0.7ex;
    margin-top: 2ex;
    text-align: left;
    width: auto;
}
#RESULTS .resultinfo {
    width: auto;
}
}
@media only screen and (min-width: 1140px) {
.wrapper {
    margin: auto;
    width: 1026px;
}
#ADVCONTENT.wrapper {
    margin-top: 8px;
    width: 1024px;
}
#CONTENT {
    margin: auto;
    width: 100%;
}
#FOOTER {
    margin: auto;
    width: 100%;
}
#ADVCONTENT {
    margin: auto;
    width: 1024px;
}
.breadcrumbs {
    margin: auto;
    width: 1026px;
}
.pagetitle {
    margin: auto;
}
}
#tw-like {
    display: inline;
    float: right;
    width: 60px;
}
#go-like {
    display: inline;
    float: right;
    width: 42px;
}
#fb-like {
    display: inline;
    float: right;
    width: 200px;
}
.hideLabel {
    display: none !important;
}
.inlineLabel {
    display: inline;
}
.radiospan {
    display: inline !important;
}
.showLabel {
    display: inline !important;
}
#SEARCHFORM label {
    display: none;
}
#ADVANCED_SEARCH_FORM label {
    color: #666666;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    line-height: 1.5em;
}
@media print {
* {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    color: #000000 !important;
    text-shadow: none !important;
}
* {
    font-family: "Times New Roman",Times,serif;
}
a, a:visited {
    text-decoration: underline;
}
a[href]:after {
    content: " (" attr(href) ")";
}
abbr[title]:after {
    content: " (" attr(title) ")";
}
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}
pre, blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
}
thead {
    display: table-header-group;
}
tr, img {
    page-break-inside: avoid;
}
img {
    max-width: 100% !important;
}
@page {
    margin: 0.5cm;
}
p, h2, h3 {
    orphans: 3;
    widows: 3;
}
h2, h3 {
    page-break-after: avoid;
}
#altlogo {
    display: block;
    padding: 1em;
    width: 100%;
}
#logocover {
    display: none;
}
a {
    color: #000000;
}
.threecolumns {
    width: 27%;
}
#searchheader {
    display: none;
}
.bookoptions {
    border: medium none;
}
.contentarea {
    border: medium none;
}
#pagenav, #pagenav2 {
    display: none;
}
#navBar {
    display: none;
}
.bookoptions {
    display: none;
}
.SocialBar {
    display: none;
}
.booktitle {
    background-image: none;
    padding-left: 0;
}
.trig1, .trigger, #panel1 {
    border: medium none;
    display: none;
    visibility: hidden;
}
.pagetitle, .booktitle {
    border: medium none;
}
#linksubmenu {
    margin: 5px 0 0;
    padding: 0;
}
#linksubmenu ul {
    margin: 0;
    padding: 0;
}
#linksubmenu li {
    float: left;
}
#linksubmenu li a {
    border: medium none;
    margin: auto;
    padding: 2px 6px;
}
#linksubmenu .tabselected {
    border: 1px solid;
}
}
#u06:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.f01v8 #u06, .u06-toggle ~ #u06 {
    background: linear-gradient(to bottom, #FFFFFF 40%, #F3F3F3 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-top: 0 none;
    padding: 20px 16px 80px;
    width: 942px;
}
#u06 {
    clear: both;
    margin: 5px auto 20px;
    padding-top: 1%;
    position: relative;
    width: 974px;
}
.u06-links {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#u06 hr {
    display: none;
}
hr {
    background-color: #CCCCCC;
    border: 0 none;
    color: #CCCCCC;
    height: 1px;
    margin: 15px 0;
}
#u06 h3 {
    background: url("../img/u01-u06-f01-bg-sprite.png") no-repeat scroll 0 -105px rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 15px;
    margin: 0;
    padding: 0;
    text-indent: -2000px;
    width: 338px;
}
#u06 ul.u06-links {
    margin: 6px 0 0 -4px;
    padding: 0;
}
#u06 ul.u06-links li {
    background: url("../img/u01-u06-f01-bg-sprite.png") no-repeat scroll 100% -101px rgba(0, 0, 0, 0);
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 1px 4px 4px;
}
#u06 a {
    font-family: arial,helvetica,sans-serif !important;
    font-size: 13px !important;
    line-height: 16px !important;
}
#u06 .u06-links a {
    padding-left: 5px;
    padding-right: 5px;
}
.f01v8 #u06 ul.scl-icons, .u06-toggle ~ #u06 ul.scl-icons {
    right: 16px;
    top: 25px;
}
#u06 ul.scl-icons {
    display: inline-block;
    margin: 0;
    padding: 0;
    right: 0;
    text-align: center;
    top: 5px;
}
#u06 ul.scl-icons li {
    margin-bottom: 4px;
    margin-left: 4px;
}
.scl-icons li.scl-facebook a {
    background-position: -164px 0;
}
.scl-icons li.scl-facebook a:hover {
    background-position: -184px 0;
}
.scl-icons {
    display: block;
}
.scl-icons li {
    display: inline-block;
}
.scl-icons li a {
    background: url("../img/social-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 16px;
    outline: 0 none;
    overflow: hidden;
    text-indent: -4000px;
    width: 16px;
}
.scl-icons li.scl-linkedin a {
    background-position: -204px 0;
}
.scl-icons li.scl-linkedin a:hover {
    background-position: -224px 0;
}
.scl-icons li.scl-twitter a {
    background-position: -244px 0;
}
.scl-icons li.scl-twitter a:hover {
    background-position: -264px 0;
}
.scl-icons li.scl-googleplus a {
    background-position: -44px 0;
}
.scl-icons li.scl-googleplus a:hover {
    background-position: -64px 0;
}
.scl-icons li.scl-youtube a {
    background-position: -124px 0;
}
.scl-icons li.scl-youtube a:hover {
    background-position: -144px 0;
}
.scl-icons li.scl-feed a {
    background-position: -284px 0;
}
.scl-icons li.scl-feed a:hover {
    background-position: -304px 0;
}
#u06 ul.u06-links li.u06-mobile {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

